﻿<!DOCTYPE html>

<style>
    .home {
        width: 100%;
        height: 75vh; /* Controls how much of the image is visable on the bottom */
        background-image: url('../lib/images/backgrounds/mediterrano.jpg'); /* Background */
        /* or */
        /* background-image: url('../lib/Images/Backgrounds/photo1jpg.jpg'); */
        /* Cool blue - background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
        background-position: center top;
        background-size: contain;
        background-position-x: 50%; /* 85% Looks Pretty too, but 48.2 is centered */
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    object {
        width: 80%;
        color: #004991;
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 50%;
        animation: shine 100s infinite;
    }

    .astrodivider {
        margin: 20px auto;
        width: 70%;
        max-width: 100%;
        position: relative;
    }

</style>

<!-- Image Preloader -->
<div class="img_preloader no-js:hidden text-white" id="js-preloader">
    <div class="img_preloader__background js-preloader-background"></div>
</div>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mediterrano</title>
    @RenderSection("HeadExtras", required: false)
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">

    <!-- Includes J-Quere -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js?version=2"></script>

    <script src="~/js/jquery-3.5.0.min.js"></script>

</head>

<body id="site-content" class="sc2">

    <a id="button"></a>
    <header>
        <nav class="nav">
            <div class="container">
                <div class="logo shine">
                    <a style="padding-right: 5px;" asp-controller="Home" asp-action="Index"> Mediterrano</a>
                    <a id="play-pause-button" class="fa fa-play"></a>
                </div>
                <div id="mainListDiv" class="main_list">

                    <ul>

                        <li class="active"><a style="padding-right: 5px;" asp-area="" asp-controller="Home" asp-action="Reservations">Reservations</a></li>

                        <li class="dropdown">
                            <button class="dropbtn" style="padding-left: 0; text-decoration: none; padding-right: 5px;">
                                Menus
                            </button>
                            <div class="dropdown-content">
                                <a style="padding-right: 5px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Menu_Dinner">Dinner</a>
                                <a style="padding-right: 5px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Menu_Twilight">Twilight</a>
                            </div>
                        </li>

                        <li><a style="padding-right: 5px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                        @*<li><a style="padding-right: 5px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Gift_Card">Gift Card</a></li> *@
                        <li><a style="padding-right: 5px; text-decoration: none;" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>

                        <div class="or-spacer-vertical right ">
                            <div class="mask"></div>
                        </div>

                    </ul>

                </div>
                <span class="navTrigger">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </div>
        </nav>
    </header>

    @* Start of audio button and controls *@

    <script>
        @* Audio source mp3: *@
        var audio = new Audio("http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3");

        $('#play-pause-button').on("click", function () {
            if ($(this).hasClass('fa-play')) {
                $(this).removeClass('fa-play');
                $(this).addClass('fa-pause');
                audio.play();
            }
            else {
                $(this).removeClass('fa-pause');
                $(this).addClass('fa-play');
                audio.pause();
            }
        });

        audio.onended = function () {
            $("#play-pause-button").removeClass('fa-pause');
            $("#play-pause-button").addClass('fa-play');
        };
    </script>

    @* End of audio button and controls *@

    @* Start of Animation for the burger *@
    <script>
        $('.navTrigger').click(function () {
            $(this).toggleClass('active');
            console.log("Clicked menu");
            $("#mainListDiv").toggleClass("show_list");
            $("#mainListDiv").fadeIn();
        });
    </script>
    @* End of animation for the burger *@

    <section id="scroll-top" class="home sec">
    </section>

    <div class="container">

        <main role="main" class="pb-3">
            <div style="z-index: -1">
                @{
                    var shouldOnlySingleCut = ViewData["SingleCut"] as bool? ?? false;
                    var cutBackgroundColor = ViewData["cutBackgroundColor"] ?? "rgb(209, 209, 209)";
                    var primaryAccentColor = ViewData["primaryAccentColor"] ?? "#d2d7d3";
                    var secondaryAccentColor = ViewData["secondaryAccentColor"] ?? "#95a5a6";
                }

                <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep2" viewBox="0 0 1600 200" style="display: block;" data-height="200">
                    <polygon class="" style="fill: @cutBackgroundColor;" points="-4,0 1604,198 1604,204 -4,204 	"></polygon>
                    <polygon class="" style="opacity: 1;fill: @primaryAccentColor; opacity:0.8" points="1604,198 1604,186 -4,0 -4,0 "></polygon>
                    <polygon class="" style="opacity: 1;fill: @secondaryAccentColor; opacity:0.6" points="1604,186 1604,174 -4,0 -4,0 "></polygon>
                </svg>

                @if (!shouldOnlySingleCut)
                {
                    <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep12" viewBox="0 0 1600 200" style="display: block;" data-height="100">
                        <polygon class="" style="fill: @cutBackgroundColor;" points="-4,24 800,198 1604,24 1604,204 -4,204 "></polygon>
                        <polygon class="" style="opacity: 1;fill: @secondaryAccentColor; opacity:0.6" points="-4,0 800,-4,12 "></polygon>
                        <polygon class="" style="opacity: 1;fill: @primaryAccentColor; opacity:0.8" points="-4,12 -4,24 800 "></polygon>
                    </svg>
                }
            </div>
            @RenderBody()
        </main>
        
    </div>

    <footer id="site-footer" style="background-color: #2A2A2A;">
        <p>yo yo yo yo</p>
        <p>oh oh oh oh</p>
        <p>yo yo yo yo</p>
        <p>oh oh oh oh</p>

        <section class="demo sec">
        </section>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

