﻿@{
    ViewData["Title"] = "Contact";
}

@section HeadExtras
{
    <style>
        .home {
            width: 100%;
            height: 75vh; /* Controls how much of the image is visable on the bottom */
            background-image: url('../lib/Images/Backgrounds/photo1jpg.jpg'); /* Background */
            /* Cool blue - background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
            background-position: center top;
            background-size: contain;
            background-position-x: 50%; /* 85% Looks Pretty too, but 48.2 is centered */
            background-attachment: fixed;
            background-repeat: no-repeat;
        }

    </style>
}

<div class="contained indexOneWrap">

    <h1 class="myH2 shine">Contact Us</h1>
    <object type="image/svg+xml" data="~/Row.svg"></object>
    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    <!-- Start of Reservation Information -->
    <article class="wrapper" style="overflow-x: hidden;">
        <div class="roww">

            <!-- card -->
            <div class="card col col-auto splitContent">
                <div class="rescontainer">

                    <!-- Start row -->
                    <div class="roww">

                        <!-- Start col -->
                        <div class="col col-auto">
                            <div class="cardSect">
                                <div class="itemm">
                                    <div class="head">

                                        <div class="title">
                                            Contact By Call:
                                        </div>
                                    </div>
                                    <div class="content">

                                        <hr />
                                        <section>
                                            <a href="tel:239-261-7498" class="btn pulse">
                                                <span class="btn-content">(239) 261-7498</span>
                                                <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            </a>

                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->
                        <!--Divider!-->
                        <div class="col col-auto" id="dividerWrap">
                            <div class="contentDivider">
                                <div class="dividedText" style="font-family: 'Sail'; font-size: 20px;"><strong>Or</strong></div>
                            </div>
                        </div>
                        <!--Divider end-->
                        <!-- Start col -->
                        <div class="col col-auto">
                            <div class="cardSect">
                                <div class="itemm">
                                    <div class="head">

                                        <div class="title">
                                            Contact By Email:
                                        </div>
                                    </div>
                                    <div class="content">

                                        <hr />
                                        <section>
                                            <a href="mailto:mediterrano.naples@gmail.com" class="btn pulse">
                                                <span class="btn-content">&#64;gmail.com</span>
                                                <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            </a>

                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->

                    </div>
                    <!-- End Row-->
                </div>
                <!-- End Container-->
                <!-- End Card 1 -->
            </div>
        </div>
            <!--End wrapper row-->
    </article>
    <!-- End of Reservation Information -->

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
    <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br />

</div>