﻿@{
    ViewData["Title"] = "Gallery_Dark";
    ViewData["cutBackgroundColor"] = "rgb(17, 17, 17)";
    ViewData["primaryAccentColor"] = "#303030";
    ViewData["secondaryAccentColor"] = "#4c5454";
}

<style>
    object {
        width: 100%;
        color: #004991;
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 50%;
        animation: shine 100s infinite;
    }

    .astrodividerdark {
        margin: 20px auto;
        width: 90%;
        max-width: 100%;
        position: relative;
    }

    .customSwitch {
        /*border: 0.1em solid rgba(0, 0, 0, 0.1);  */
        box-shadow: 0 0 0.3em #004991 inset;
        padding: 0.5em;
        border-radius: 100em; /* huge radius to force pill shape */
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.25);
        min-height: 1.1em;
        min-width: 3em;
    }

    .myH2 {
        color: #ffffff;
    }
</style>

<div style="display: grid; place-content: center; background:#111;">
    <h1 class="myH2 shine">Gallery</h1>
    <div id="viewer">
        <a style="text-decoration:none; color:#fff;" asp-area="" asp-controller="Home" asp-action="Gallery">
            <div class="customSwitch" value="true" style="width: 7em;">
                <label class="switchLabel offLabel shine" style="color: white;">Culture</label>
                <span class="toggle"></span>
                <label class="switchLabel onLabel shine" style="display: none; color: #004991;">Cuisine</label>
            </div>
        </a>
    </div>
    <br />
    <object type="image/svg+xml" data="~/Row.svg"></object>
    <div class="astrodividerdark"><div class="astrodividermaskdark"></div><span><i></i></span></div>

    @* Start of the Images on the main screen *@
    <div id="viewer">
        <div class="waterfalldark">
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (28).jpg" onclick="openModal();currentSlide(1)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (26).jpg" onclick="openModal();currentSlide(2)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (46).jpg" onclick="openModal();currentSlide(3)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (15).jpg" onclick="openModal();currentSlide(4)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (11).jpg" onclick="openModal();currentSlide(5)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (32).jpg" onclick="openModal();currentSlide(6)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/3bd57b_d79928c2106a4cfc9b7690878623d79b_mv2.webp" onclick="openModal();currentSlide(7)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (75).jpg" onclick="openModal();currentSlide(8)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (18).jpg" onclick="openModal();currentSlide(9)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/3bd57b_f40bc015cda04e27b2d8d68f2f0aaa84_mv2.webp" onclick="openModal();currentSlide(10)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (16).jpg" onclick="openModal();currentSlide(11)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/3bd57b_73ea18328092488c85974c8820e7f196_mv2.webp" onclick="openModal();currentSlide(12)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (13).jpg" onclick="openModal();currentSlide(13)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (50).jpg" onclick="openModal();currentSlide(14)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano - 2020-07-18T161629.564.jpg" onclick="openModal();currentSlide(15)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (61).jpg" onclick="openModal();currentSlide(16)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/dining-room.jpg" onclick="openModal();currentSlide(17)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (11).jpg" onclick="openModal();currentSlide(18)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (12).jpg" onclick="openModal();currentSlide(19)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (13).jpg" onclick="openModal();currentSlide(20)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (14).jpg" onclick="openModal();currentSlide(21)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (15).jpg" onclick="openModal();currentSlide(22)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (16).jpg" onclick="openModal();currentSlide(23)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (17).jpg" onclick="openModal();currentSlide(24)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (6).jpg" onclick="openModal();currentSlide(25)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (7).jpg" onclick="openModal();currentSlide(26)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (8).jpg" onclick="openModal();currentSlide(27)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/20170503-134510-largejpg.jpg" onclick="openModal();currentSlide(28)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/20190512-181320-largejpg.jpg" onclick="openModal();currentSlide(29)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/20190512-181327-largejpg.jpg" onclick="openModal();currentSlide(30)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/20190512-191433-largejpg.jpg" onclick="openModal();currentSlide(31)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/amazing-dinner-here-great.jpg" onclick="openModal();currentSlide(32)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/angelita.jpg" onclick="openModal();currentSlide(33)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/aqua-blue-accents-were.jpg" onclick="openModal();currentSlide(34)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/cute-place-on-a-quiet.jpg" onclick="openModal();currentSlide(35)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/patio.jpg" onclick="openModal();currentSlide(36)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/dining-room-2.jpg" onclick="openModal();currentSlide(37)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/entrance.jpg" onclick="openModal();currentSlide(38)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/excellent-flavor.jpg" onclick="openModal();currentSlide(39)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/flower.jpg" onclick="openModal();currentSlide(40)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/flower-cart.jpg" onclick="openModal();currentSlide(41)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/front.jpg" onclick="openModal();currentSlide(42)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/front-mediterrano.jpg" onclick="openModal();currentSlide(43)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/front-patio-dining-under.jpg" onclick="openModal();currentSlide(44)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/garden.jpg" onclick="openModal();currentSlide(45)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/garden-patio.jpg" onclick="openModal();currentSlide(46)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/hanging-plants-in-front (1).jpg" onclick="openModal();currentSlide(47)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/hanging-plants-in-front.jpg" onclick="openModal();currentSlide(48)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/hermoso-lugar-y-excelente.jpg" onclick="openModal();currentSlide(49)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/indoor-dining-area.jpg" onclick="openModal();currentSlide(50)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/indoor-seating.jpg" onclick="openModal();currentSlide(51)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/love-is-in-the-air.jpg" onclick="openModal();currentSlide(52)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterranean-night.jpg" onclick="openModal();currentSlide(53)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterraneo (10).jpg" onclick="openModal();currentSlide(54)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (1).jpg" onclick="openModal();currentSlide(55)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (10).jpg" onclick="openModal();currentSlide(56)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (100).jpg" onclick="openModal();currentSlide(57)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (12).jpg" onclick="openModal();currentSlide(58)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (14).jpg" onclick="openModal();currentSlide(59)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (17).jpg" onclick="openModal();currentSlide(60)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (19).jpg" onclick="openModal();currentSlide(61)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (2).jpg" onclick="openModal();currentSlide(62)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (20).jpg" onclick="openModal();currentSlide(63)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (21).jpg" onclick="openModal();currentSlide(64)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (22).jpg" onclick="openModal();currentSlide(65)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (23).jpg" onclick="openModal();currentSlide(66)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (24).jpg" onclick="openModal();currentSlide(67)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (25).jpg" onclick="openModal();currentSlide(68)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (3).jpg" onclick="openModal();currentSlide(69)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (31).jpg" onclick="openModal();currentSlide(70)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (33).jpg" onclick="openModal();currentSlide(71)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (35).jpg" onclick="openModal();currentSlide(72)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (37).jpg" onclick="openModal();currentSlide(73)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (38).jpg" onclick="openModal();currentSlide(74)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (39).jpg" onclick="openModal();currentSlide(75)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (4).jpg" onclick="openModal();currentSlide(76)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (40).jpg" onclick="openModal();currentSlide(77)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (41).jpg" onclick="openModal();currentSlide(78)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (42).jpg" onclick="openModal();currentSlide(79)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (43).jpg" onclick="openModal();currentSlide(80)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (44).jpg" onclick="openModal();currentSlide(81)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (45).jpg" onclick="openModal();currentSlide(82)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (47).jpg" onclick="openModal();currentSlide(83)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (5).jpg" onclick="openModal();currentSlide(84)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (51).jpg" onclick="openModal();currentSlide(85)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (52).jpg" onclick="openModal();currentSlide(86)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (54).jpg" onclick="openModal();currentSlide(87)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (55).jpg" onclick="openModal();currentSlide(88)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (56).jpg" onclick="openModal();currentSlide(89)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (57).jpg" onclick="openModal();currentSlide(90)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (58).jpg" onclick="openModal();currentSlide(91)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (59).jpg" onclick="openModal();currentSlide(92)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (6).jpg" onclick="openModal();currentSlide(93)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (60).jpg" onclick="openModal();currentSlide(94)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (61).jpg" onclick="openModal();currentSlide(95)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (62).jpg" onclick="openModal();currentSlide(96)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (63).jpg" onclick="openModal();currentSlide(97)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (64).jpg" onclick="openModal();currentSlide(98)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (65).jpg" onclick="openModal();currentSlide(99)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (66).jpg" onclick="openModal();currentSlide(100)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (67).jpg" onclick="openModal();currentSlide(101)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (68).jpg" onclick="openModal();currentSlide(102)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (69).jpg" onclick="openModal();currentSlide(103)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (7).jpg" onclick="openModal();currentSlide(104)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (70).jpg" onclick="openModal();currentSlide(105)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (71).jpg" onclick="openModal();currentSlide(106)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (72).jpg" onclick="openModal();currentSlide(107)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (73).jpg" onclick="openModal();currentSlide(108)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (74).jpg" onclick="openModal();currentSlide(109)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (76).jpg" onclick="openModal();currentSlide(110)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (77).jpg" onclick="openModal();currentSlide(111)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (79).jpg" onclick="openModal();currentSlide(112)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (8).jpg" onclick="openModal();currentSlide(113)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (9).jpg" onclick="openModal();currentSlide(114)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (94).jpg" onclick="openModal();currentSlide(115)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (96).jpg" onclick="openModal();currentSlide(116)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (98).jpg" onclick="openModal();currentSlide(117)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano.jpg" onclick="openModal();currentSlide(118)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-front (1).jpg" onclick="openModal();currentSlide(119)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (34).jpg" onclick="openModal();currentSlide(120)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (1).jpg" onclick="openModal();currentSlide(121)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (2).jpg" onclick="openModal();currentSlide(122)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (3).jpg" onclick="openModal();currentSlide(123)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (4).jpg" onclick="openModal();currentSlide(124)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (5).jpg" onclick="openModal();currentSlide(125)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant.jpg" onclick="openModal();currentSlide(126)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-main-photo.jpg" onclick="openModal();currentSlide(127)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-patio.jpg" onclick="openModal();currentSlide(128)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-patio-garden.jpg" onclick="openModal();currentSlide(129)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/more-flowers (1).jpg" onclick="openModal();currentSlide(130)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/more-flowers (2).jpg" onclick="openModal();currentSlide(131)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/more-flowers.jpg" onclick="openModal();currentSlide(132)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/new-flowers.jpg" onclick="openModal();currentSlide(133)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/orchid (1).jpg" onclick="openModal();currentSlide(134)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/orchid.jpg" onclick="openModal();currentSlide(135)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/our-friend-alfred.jpg" onclick="openModal();currentSlide(136)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/outdoor-dining-area.jpg" onclick="openModal();currentSlide(137)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/outdoor-seating.jpg" onclick="openModal();currentSlide(138)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/paella-for-two-at-mediterrano.jpg" onclick="openModal();currentSlide(139)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano (36).jpg" onclick="openModal();currentSlide(140)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/patio-3.jpg" onclick="openModal();currentSlide(141)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/patio-garden.jpg" onclick="openModal();currentSlide(142)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (18).jpg" onclick="openModal();currentSlide(143)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (19).jpg" onclick="openModal();currentSlide(144)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (22).jpg" onclick="openModal();currentSlide(145)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (28).jpg" onclick="openModal();currentSlide(146)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (30).jpg" onclick="openModal();currentSlide(147)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (33).jpg" onclick="openModal();currentSlide(148)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (37).jpg" onclick="openModal();currentSlide(149)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (42).jpg" onclick="openModal();currentSlide(150)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (43).jpg" onclick="openModal();currentSlide(151)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (44).jpg" onclick="openModal();currentSlide(152)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (45).jpg" onclick="openModal();currentSlide(153)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (48).jpg" onclick="openModal();currentSlide(154)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (51).jpg" onclick="openModal();currentSlide(155)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (52).jpg" onclick="openModal();currentSlide(156)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (54).jpg" onclick="openModal();currentSlide(157)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (55).jpg" onclick="openModal();currentSlide(158)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (56).jpg" onclick="openModal();currentSlide(159)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (60).jpg" onclick="openModal();currentSlide(160)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (62).jpg" onclick="openModal();currentSlide(161)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (63).jpg" onclick="openModal();currentSlide(162)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (68).jpg" onclick="openModal();currentSlide(163)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo0jpg (7).jpg" onclick="openModal();currentSlide(164)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (22).jpg" onclick="openModal();currentSlide(165)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (25).jpg" onclick="openModal();currentSlide(166)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (26).jpg" onclick="openModal();currentSlide(167)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (29).jpg" onclick="openModal();currentSlide(168)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (30).jpg" onclick="openModal();currentSlide(169)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (34).jpg" onclick="openModal();currentSlide(170)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (37).jpg" onclick="openModal();currentSlide(171)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (39).jpg" onclick="openModal();currentSlide(172)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo1jpg (43).jpg" onclick="openModal();currentSlide(173)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo2jpg (11).jpg" onclick="openModal();currentSlide(174)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo2jpg (15).jpg" onclick="openModal();currentSlide(175)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo2jpg (21).jpg" onclick="openModal();currentSlide(176)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo2jpg (23).jpg" onclick="openModal();currentSlide(177)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo3jpg (10).jpg" onclick="openModal();currentSlide(178)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo3jpg (17).jpg" onclick="openModal();currentSlide(179)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo3jpg (8).jpg" onclick="openModal();currentSlide(180)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo4jpg (9).jpg" onclick="openModal();currentSlide(181)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo9jpg (3).jpg" onclick="openModal();currentSlide(182)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/photo9jpg.jpg" onclick="openModal();currentSlide(183)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/plus-soft-instrumental.jpg" onclick="openModal();currentSlide(184)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/saginiki.jpg" onclick="openModal();currentSlide(185)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/september.jpg" onclick="openModal();currentSlide(186)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/sidewalk.jpg" onclick="openModal();currentSlide(187)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/sign (1).jpg" onclick="openModal();currentSlide(188)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/sign.jpg" onclick="openModal();currentSlide(189)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/sign-mediterrano.jpg" onclick="openModal();currentSlide(190)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/ta-img-20160329-212714.jpg" onclick="openModal();currentSlide(191)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/the-view.jpg" onclick="openModal();currentSlide(192)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/view-of-front-patio.jpg" onclick="openModal();currentSlide(193)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/welcome-to-mediterrano.jpg" onclick="openModal();currentSlide(194)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/mediterrano-front.jpg" onclick="openModal();currentSlide(195)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Dark/judge-judy-at-mediterrano.jpg" onclick="openModal();currentSlide(196)" /></div>
        </div>
    </div>
        @* End of the Images on the main screen *@

        @* Start of the Images on the pop-up *@
    <div id="myModal" class="modal sc2">
        <div class="modal-content">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="mySlides"><div class="numbertext">1 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (28).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">2 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (26).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">3 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (46).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">4 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">5 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">6 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (32).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">7 / 196</div><img src="~/lib/Images/Gallery-Dark/3bd57b_d79928c2106a4cfc9b7690878623d79b_mv2.webp" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">8 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (75).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">9 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (18).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">10 / 196</div><img src="~/lib/Images/Gallery-Dark/3bd57b_f40bc015cda04e27b2d8d68f2f0aaa84_mv2.webp" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">11 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">12 / 196</div><img src="~/lib/Images/Gallery-Dark/3bd57b_73ea18328092488c85974c8820e7f196_mv2.webp" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">13 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">14 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (50).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">15 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano - 2020-07-18T161629.564.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">16 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (61).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">17 / 196</div><img src="~/lib/Images/Gallery-Dark/dining-room.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">18 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">19 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">20 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">21 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">22 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">23 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">24 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">25 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">26 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">27 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">28 / 196</div><img src="~/lib/Images/Gallery-Dark/20170503-134510-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">29 / 196</div><img src="~/lib/Images/Gallery-Dark/20190512-181320-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">30 / 196</div><img src="~/lib/Images/Gallery-Dark/20190512-181327-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">31 / 196</div><img src="~/lib/Images/Gallery-Dark/20190512-191433-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">32 / 196</div><img src="~/lib/Images/Gallery-Dark/amazing-dinner-here-great.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">33 / 196</div><img src="~/lib/Images/Gallery-Dark/angelita.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">34 / 196</div><img src="~/lib/Images/Gallery-Dark/aqua-blue-accents-were.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">35 / 196</div><img src="~/lib/Images/Gallery-Dark/cute-place-on-a-quiet.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">36 / 196</div><img src="~/lib/Images/Gallery-Dark/patio.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">37 / 196</div><img src="~/lib/Images/Gallery-Dark/dining-room-2.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">38 / 196</div><img src="~/lib/Images/Gallery-Dark/entrance.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">39 / 196</div><img src="~/lib/Images/Gallery-Dark/excellent-flavor.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">40 / 196</div><img src="~/lib/Images/Gallery-Dark/flower.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">41 / 196</div><img src="~/lib/Images/Gallery-Dark/flower-cart.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">42 / 196</div><img src="~/lib/Images/Gallery-Dark/front.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">43 / 196</div><img src="~/lib/Images/Gallery-Dark/front-mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">44 / 196</div><img src="~/lib/Images/Gallery-Dark/front-patio-dining-under.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">45 / 196</div><img src="~/lib/Images/Gallery-Dark/garden.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">46 / 196</div><img src="~/lib/Images/Gallery-Dark/garden-patio.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">47 / 196</div><img src="~/lib/Images/Gallery-Dark/hanging-plants-in-front (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">48 / 196</div><img src="~/lib/Images/Gallery-Dark/hanging-plants-in-front.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">49 / 196</div><img src="~/lib/Images/Gallery-Dark/hermoso-lugar-y-excelente.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">50 / 196</div><img src="~/lib/Images/Gallery-Dark/indoor-dining-area.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">51 / 196</div><img src="~/lib/Images/Gallery-Dark/indoor-seating.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">52 / 196</div><img src="~/lib/Images/Gallery-Dark/love-is-in-the-air.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">53 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterranean-night.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">54 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterraneo (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">55 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">56 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">57 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (100).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">58 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">59 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">60 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">61 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (19).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">62 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">63 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (20).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">64 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (21).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">65 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (22).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">66 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (23).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">67 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (24).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">68 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (25).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">69 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">70 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (31).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">71 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (33).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">72 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (35).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">73 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (37).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">74 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (38).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">75 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (39).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">76 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">77 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (40).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">78 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (41).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">79 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (42).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">80 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (43).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">81 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (44).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">82 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (45).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">83 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (47).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">84 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">85 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (51).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">86 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (52).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">87 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (54).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">88 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (55).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">89 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (56).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">90 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (57).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">91 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (58).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">92 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (59).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">93 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">94 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (60).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">95 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (61).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">96 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (62).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">97 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (63).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">98 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (64).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">99 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (65).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">100 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (66).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">101 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (67).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">102 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (68).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">103 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (69).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">104 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">105 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (70).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">106 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (71).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">107 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (72).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">108 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (73).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">109 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (74).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">110 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (76).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">111 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (77).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">112 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (79).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">113 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">114 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">115 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (94).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">116 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (96).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">117 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (98).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">118 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">119 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-front (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">120 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (34).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">121 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">122 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">123 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">124 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">125 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">126 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-garden-restaurant.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">127 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-main-photo.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">128 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-patio.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">129 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-patio-garden.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">130 / 196</div><img src="~/lib/Images/Gallery-Dark/more-flowers (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">131 / 196</div><img src="~/lib/Images/Gallery-Dark/more-flowers (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">132 / 196</div><img src="~/lib/Images/Gallery-Dark/more-flowers.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">133 / 196</div><img src="~/lib/Images/Gallery-Dark/new-flowers.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">134 / 196</div><img src="~/lib/Images/Gallery-Dark/orchid (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">135 / 196</div><img src="~/lib/Images/Gallery-Dark/orchid.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">136 / 196</div><img src="~/lib/Images/Gallery-Dark/our-friend-alfred.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">137 / 196</div><img src="~/lib/Images/Gallery-Dark/outdoor-dining-area.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">138 / 196</div><img src="~/lib/Images/Gallery-Dark/outdoor-seating.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">139 / 196</div><img src="~/lib/Images/Gallery-Dark/paella-for-two-at-mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">140 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano (36).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">141 / 196</div><img src="~/lib/Images/Gallery-Dark/patio-3.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">142 / 196</div><img src="~/lib/Images/Gallery-Dark/patio-garden.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">143 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (18).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">144 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (19).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">145 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (22).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">146 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (28).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">147 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (30).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">148 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (33).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">149 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (37).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">150 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (42).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">151 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (43).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">152 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (44).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">153 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (45).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">154 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (48).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">155 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (51).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">156 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (52).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">157 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (54).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">158 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (55).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">159 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (56).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">160 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (60).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">161 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (62).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">162 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (63).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">163 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (68).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">164 / 196</div><img src="~/lib/Images/Gallery-Dark/photo0jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">165 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (22).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">166 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (25).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">167 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (26).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">168 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (29).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">169 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (30).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">170 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (34).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">171 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (37).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">172 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (39).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">173 / 196</div><img src="~/lib/Images/Gallery-Dark/photo1jpg (43).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">174 / 196</div><img src="~/lib/Images/Gallery-Dark/photo2jpg (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">175 / 196</div><img src="~/lib/Images/Gallery-Dark/photo2jpg (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">176 / 196</div><img src="~/lib/Images/Gallery-Dark/photo2jpg (21).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">177 / 196</div><img src="~/lib/Images/Gallery-Dark/photo2jpg (23).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">178 / 196</div><img src="~/lib/Images/Gallery-Dark/photo3jpg (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">179 / 196</div><img src="~/lib/Images/Gallery-Dark/photo3jpg (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">180 / 196</div><img src="~/lib/Images/Gallery-Dark/photo3jpg (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">181 / 196</div><img src="~/lib/Images/Gallery-Dark/photo4jpg (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">182 / 196</div><img src="~/lib/Images/Gallery-Dark/photo9jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">183 / 196</div><img src="~/lib/Images/Gallery-Dark/photo9jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">184 / 196</div><img src="~/lib/Images/Gallery-Dark/plus-soft-instrumental.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">185 / 196</div><img src="~/lib/Images/Gallery-Dark/saginiki.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">186 / 196</div><img src="~/lib/Images/Gallery-Dark/september.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">187 / 196</div><img src="~/lib/Images/Gallery-Dark/sidewalk.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">188 / 196</div><img src="~/lib/Images/Gallery-Dark/sign (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">189 / 196</div><img src="~/lib/Images/Gallery-Dark/sign.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">190 / 196</div><img src="~/lib/Images/Gallery-Dark/sign-mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">191 / 196</div><img src="~/lib/Images/Gallery-Dark/ta-img-20160329-212714.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">192 / 196</div><img src="~/lib/Images/Gallery-Dark/the-view.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">193 / 196</div><img src="~/lib/Images/Gallery-Dark/view-of-front-patio.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">194 / 196</div><img src="~/lib/Images/Gallery-Dark/welcome-to-mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">195 / 196</div><img src="~/lib/Images/Gallery-Dark/mediterrano-front.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">196 / 196</div><img src="~/lib/Images/Gallery-Dark/judge-judy-at-mediterrano.jpg" style="width:100%" /></div>
        </div>
        @* End of the Images on the pop-up *@

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

        <div class="astrodividerdark"><div class="astrodividermaskdark"></div><span><i></i></span></div>
        <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br /><br /><br />
    </div>

    @* Start of Javascript Animations *@
    @* Javascript animations > Start of Gallery Modal-Lightbox Opening Animation *@

    <script>
        // Open the Modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    @* End of Gallery Modal - Lightbox Opening Animation *@
    @* Javascript animations > Start of Gallery Images Animations *@

    <script>
        const observer = new IntersectionObserver(f, {
            threshold: [0, 1]
        });

        function f(entries) {
            for (const entry of entries) {
                if (entry.isIntersecting && entry.intersectionRatio >= 1) {
                    entry.target.classList.toggle("inbound", true)
                }
                else {
                    entry.target.classList.toggle("inbound", false)
                }
            }
        }

        const itemEls = Array.from(document.querySelectorAll(".item"));
        for (const itemEl of itemEls)
            observer.observe(itemEl)
    </script>

    @* End of Gallery Images Animations *@
    @* End of Javascript Animations *@
