﻿@{
    ViewData["Title"] = "Gallery";
}

<style>
    object {
        width: 100%;
        color: #004991;
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 50%;
        animation: shine 100s infinite;
    }

    .astrodivider {
        margin: 20px auto;
        width: 90%;
        max-width: 100%;
        position: relative;
    }
</style>

<div style="display: grid; place-content: center;">
    <h1 class="myH2 shine">Gallery</h1>
    <div id="viewer">
        <a style="text-decoration:none; color:#000;" asp-area="" asp-controller="Home" asp-action="Gallery_Dark">
            <div class="customSwitch" value="true" style="width: 7em;">
                <label class="switchLabel onLabel shine" style="color: #004991;">Cuisine</label>
                <span class="toggle toggleOn"></span>
                <label class="switchLabel offLabel shine" style="display: none; color: white;">Culture</label>
            </div>
        </a>
    </div>
    <br />
    <object type="image/svg+xml" data="~/Row.svg"></object>
    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    @* Start of the Images on the main screen *@
    <div id="viewer">
        <div class="waterfall">
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (9).jpg" onclick="openModal();currentSlide(1)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo.jpg" onclick="openModal();currentSlide(2)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161354.191.jpg" onclick="openModal();currentSlide(3)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (1).jpg" onclick="openModal();currentSlide(4)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (4).jpg" onclick="openModal();currentSlide(5)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/lamb-kestedes-appetizer.jpg" onclick="openModal();currentSlide(6)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/chicken-pasta.jpg" onclick="openModal();currentSlide(7)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/cioppino.jpg" onclick="openModal();currentSlide(8)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (34).jpg" onclick="openModal();currentSlide(9)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/hog-snapper.jpg" onclick="openModal();currentSlide(10)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/img-20180828-wa0049-largejpg.jpg" onclick="openModal();currentSlide(11)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/img-20200711-182922-largejpg.jpg" onclick="openModal();currentSlide(12)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/kebob.jpg" onclick="openModal();currentSlide(13)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/lamb.jpg" onclick="openModal();currentSlide(14)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/lamb-and-red-snapper (1).jpg" onclick="openModal();currentSlide(15)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/limoncello-parfait.jpg" onclick="openModal();currentSlide(16)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterranean-sea-bass.jpg" onclick="openModal();currentSlide(17)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (2).jpg" onclick="openModal();currentSlide(18)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (3).jpg" onclick="openModal();currentSlide(19)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterraneo (5).jpg" onclick="openModal();currentSlide(20)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161332.785.jpg" onclick="openModal();currentSlide(21)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161339.499.jpg" onclick="openModal();currentSlide(22)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20161012-191917-largejpg.jpg" onclick="openModal();currentSlide(23)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/pappardelle-e-gamberoni.jpg" onclick="openModal();currentSlide(24)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/pappardelle-tossed-with.jpg" onclick="openModal();currentSlide(25)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (10).jpg" onclick="openModal();currentSlide(26)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (11).jpg" onclick="openModal();currentSlide(27)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (49).jpg" onclick="openModal();currentSlide(28)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (12).jpg" onclick="openModal();currentSlide(29)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (18).jpg" onclick="openModal();currentSlide(30)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (4).jpg" onclick="openModal();currentSlide(31)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (7).jpg" onclick="openModal();currentSlide(32)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (4).jpg" onclick="openModal();currentSlide(33)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (13).jpg" onclick="openModal();currentSlide(34)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/sliced-filet-bedded-over.jpg" onclick="openModal();currentSlide(35)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/stone-crab-open-season.jpg" onclick="openModal();currentSlide(36)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/this-is-the-pot-roast.jpg" onclick="openModal();currentSlide(37)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20161012-192737-largejpg.jpg" onclick="openModal();currentSlide(38)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20181118-191246-largejpg.jpg" onclick="openModal();currentSlide(39)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20181118-191252-largejpg.jpg" onclick="openModal();currentSlide(40)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20181127-192606-largejpg.jpg" onclick="openModal();currentSlide(41)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20190512-185422-largejpg.jpg" onclick="openModal();currentSlide(42)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20200109-185523-largejpg.jpg" onclick="openModal();currentSlide(43)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/ajo-y-camerones.jpg" onclick="openModal();currentSlide(44)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/appetizer-dolmades.jpg" onclick="openModal();currentSlide(45)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/beef-tagine.jpg" onclick="openModal();currentSlide(46)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/beef-tagine-so-savory.jpg" onclick="openModal();currentSlide(47)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/bread-oil-and-balsalmic.jpg" onclick="openModal();currentSlide(48)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/bright-colordelish-eggplant.jpg" onclick="openModal();currentSlide(49)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays (1).jpg" onclick="openModal();currentSlide(50)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays (2).jpg" onclick="openModal();currentSlide(51)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays.jpg" onclick="openModal();currentSlide(52)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/cioppino-and-sea-bass.jpg" onclick="openModal();currentSlide(53)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/creme-brulee (1).jpg" onclick="openModal();currentSlide(54)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/creme-brulee.jpg" onclick="openModal();currentSlide(55)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/creme-brulee-with-decoration.jpg" onclick="openModal();currentSlide(56)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/delicious-beef-tagine.jpg" onclick="openModal();currentSlide(57)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/dessert.jpg" onclick="openModal();currentSlide(58)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/divine-snapper.jpg" onclick="openModal();currentSlide(59)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/excelente (1).jpg" onclick="openModal();currentSlide(60)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/excelente.jpg" onclick="openModal();currentSlide(61)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/family-friendly.jpg" onclick="openModal();currentSlide(62)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/filet-medallions.jpg" onclick="openModal();currentSlide(63)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/filling-portions.jpg" onclick="openModal();currentSlide(64)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/flaming-cheese-saganaki.jpg" onclick="openModal();currentSlide(65)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/gazpacho.jpg" onclick="openModal();currentSlide(66)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/grape-leaves.jpg" onclick="openModal();currentSlide(67)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/hermoso-lugar-y-excelente (1).jpg" onclick="openModal();currentSlide(68)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/hog-snapper-2.jpg" onclick="openModal();currentSlide(69)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/hog-snapper-at-mediterrano.jpg" onclick="openModal();currentSlide(70)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/horiatiki-salad.jpg" onclick="openModal();currentSlide(71)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/horiatiki-salata.jpg" onclick="openModal();currentSlide(72)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/how-fun-to-sip-a-blue.jpg" onclick="openModal();currentSlide(73)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/ice-cream-and-limoncello.jpg" onclick="openModal();currentSlide(74)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/img-20190623-200902-largejpg.jpg" onclick="openModal();currentSlide(75)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/lamb-and-red-snapper.jpg" onclick="openModal();currentSlide(76)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/lamb-shank.jpg" onclick="openModal();currentSlide(77)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161342.487.jpg" onclick="openModal();currentSlide(78)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161348.337.jpg" onclick="openModal();currentSlide(79)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161356.998.jpg" onclick="openModal();currentSlide(80)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161559.090.jpg" onclick="openModal();currentSlide(81)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (78).jpg" onclick="openModal();currentSlide(82)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (80).jpg" onclick="openModal();currentSlide(83)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (81).jpg" onclick="openModal();currentSlide(84)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (82).jpg" onclick="openModal();currentSlide(85)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (83).jpg" onclick="openModal();currentSlide(86)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (84).jpg" onclick="openModal();currentSlide(87)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (85).jpg" onclick="openModal();currentSlide(88)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (87).jpg" onclick="openModal();currentSlide(89)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (88).jpg" onclick="openModal();currentSlide(90)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (89).jpg" onclick="openModal();currentSlide(91)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (90).jpg" onclick="openModal();currentSlide(92)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (91).jpg" onclick="openModal();currentSlide(93)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (39).jpg" onclick="openModal();currentSlide(94)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (93).jpg" onclick="openModal();currentSlide(95)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (95).jpg" onclick="openModal();currentSlide(96)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (97).jpg" onclick="openModal();currentSlide(97)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mediterrano (99).jpg" onclick="openModal();currentSlide(98)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/menu-entree-ajo-y-camerones (1).jpg" onclick="openModal();currentSlide(99)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/menu-entree-ajo-y-camerones.jpg" onclick="openModal();currentSlide(100)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/mixed-fruit-dessert.jpg" onclick="openModal();currentSlide(101)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/paella-valenciana-saffron.jpg" onclick="openModal();currentSlide(102)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/paella-valenciana-seafood.jpg" onclick="openModal();currentSlide(103)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (1).jpg" onclick="openModal();currentSlide(104)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (12).jpg" onclick="openModal();currentSlide(105)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (13).jpg" onclick="openModal();currentSlide(106)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (14).jpg" onclick="openModal();currentSlide(107)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (15).jpg" onclick="openModal();currentSlide(108)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (16).jpg" onclick="openModal();currentSlide(109)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (17).jpg" onclick="openModal();currentSlide(110)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (2).jpg" onclick="openModal();currentSlide(111)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (20).jpg" onclick="openModal();currentSlide(112)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (21).jpg" onclick="openModal();currentSlide(113)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (23).jpg" onclick="openModal();currentSlide(114)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (24).jpg" onclick="openModal();currentSlide(115)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (25).jpg" onclick="openModal();currentSlide(116)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (26).jpg" onclick="openModal();currentSlide(117)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (27).jpg" onclick="openModal();currentSlide(118)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (29).jpg" onclick="openModal();currentSlide(119)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (3).jpg" onclick="openModal();currentSlide(120)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (31).jpg" onclick="openModal();currentSlide(121)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (32).jpg" onclick="openModal();currentSlide(122)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (35).jpg" onclick="openModal();currentSlide(123)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (36).jpg" onclick="openModal();currentSlide(124)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (38).jpg" onclick="openModal();currentSlide(125)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (4).jpg" onclick="openModal();currentSlide(126)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (46).jpg" onclick="openModal();currentSlide(127)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (47).jpg" onclick="openModal();currentSlide(128)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (5).jpg" onclick="openModal();currentSlide(129)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (53).jpg" onclick="openModal();currentSlide(130)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (57).jpg" onclick="openModal();currentSlide(131)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (58).jpg" onclick="openModal();currentSlide(132)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (59).jpg" onclick="openModal();currentSlide(133)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (6).jpg" onclick="openModal();currentSlide(134)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (65).jpg" onclick="openModal();currentSlide(135)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (66).jpg" onclick="openModal();currentSlide(136)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (67).jpg" onclick="openModal();currentSlide(137)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (69).jpg" onclick="openModal();currentSlide(138)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (8).jpg" onclick="openModal();currentSlide(139)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (9).jpg" onclick="openModal();currentSlide(140)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg.jpg" onclick="openModal();currentSlide(141)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (1).jpg" onclick="openModal();currentSlide(142)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (10).jpg" onclick="openModal();currentSlide(143)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (11).jpg" onclick="openModal();currentSlide(144)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (13).jpg" onclick="openModal();currentSlide(145)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (14).jpg" onclick="openModal();currentSlide(146)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (15).jpg" onclick="openModal();currentSlide(147)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (16).jpg" onclick="openModal();currentSlide(148)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (17).jpg" onclick="openModal();currentSlide(149)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (19).jpg" onclick="openModal();currentSlide(150)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (2).jpg" onclick="openModal();currentSlide(151)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (20).jpg" onclick="openModal();currentSlide(152)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (21).jpg" onclick="openModal();currentSlide(153)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (23).jpg" onclick="openModal();currentSlide(154)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (24).jpg" onclick="openModal();currentSlide(155)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (27).jpg" onclick="openModal();currentSlide(156)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (28).jpg" onclick="openModal();currentSlide(157)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (3).jpg" onclick="openModal();currentSlide(158)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (31).jpg" onclick="openModal();currentSlide(159)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (32).jpg" onclick="openModal();currentSlide(160)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (33).jpg" onclick="openModal();currentSlide(161)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (35).jpg" onclick="openModal();currentSlide(162)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (36).jpg" onclick="openModal();currentSlide(163)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (38).jpg" onclick="openModal();currentSlide(164)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (40).jpg" onclick="openModal();currentSlide(165)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (41).jpg" onclick="openModal();currentSlide(166)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (42).jpg" onclick="openModal();currentSlide(167)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (5).jpg" onclick="openModal();currentSlide(168)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (6).jpg" onclick="openModal();currentSlide(169)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (8).jpg" onclick="openModal();currentSlide(170)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg (9).jpg" onclick="openModal();currentSlide(171)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo1jpg.jpg" onclick="openModal();currentSlide(172)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (1).jpg" onclick="openModal();currentSlide(173)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (10).jpg" onclick="openModal();currentSlide(174)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (12).jpg" onclick="openModal();currentSlide(175)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (13).jpg" onclick="openModal();currentSlide(176)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (14).jpg" onclick="openModal();currentSlide(177)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (16).jpg" onclick="openModal();currentSlide(178)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (17).jpg" onclick="openModal();currentSlide(179)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (18).jpg" onclick="openModal();currentSlide(180)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (19).jpg" onclick="openModal();currentSlide(181)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (2).jpg" onclick="openModal();currentSlide(182)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (20).jpg" onclick="openModal();currentSlide(183)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (22).jpg" onclick="openModal();currentSlide(184)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (24).jpg" onclick="openModal();currentSlide(185)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (25).jpg" onclick="openModal();currentSlide(186)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (3).jpg" onclick="openModal();currentSlide(187)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (5).jpg" onclick="openModal();currentSlide(188)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (6).jpg" onclick="openModal();currentSlide(189)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (7).jpg" onclick="openModal();currentSlide(190)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (8).jpg" onclick="openModal();currentSlide(191)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg (9).jpg" onclick="openModal();currentSlide(192)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo2jpg.jpg" onclick="openModal();currentSlide(193)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (1).jpg" onclick="openModal();currentSlide(194)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (11).jpg" onclick="openModal();currentSlide(195)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (12).jpg" onclick="openModal();currentSlide(196)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (14).jpg" onclick="openModal();currentSlide(197)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (15).jpg" onclick="openModal();currentSlide(198)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (16).jpg" onclick="openModal();currentSlide(199)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (2).jpg" onclick="openModal();currentSlide(200)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (3).jpg" onclick="openModal();currentSlide(201)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (4).jpg" onclick="openModal();currentSlide(202)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (5).jpg" onclick="openModal();currentSlide(203)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (6).jpg" onclick="openModal();currentSlide(204)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (7).jpg" onclick="openModal();currentSlide(205)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg (9).jpg" onclick="openModal();currentSlide(206)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo3jpg.jpg" onclick="openModal();currentSlide(207)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (1).jpg" onclick="openModal();currentSlide(208)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (10).jpg" onclick="openModal();currentSlide(209)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (11).jpg" onclick="openModal();currentSlide(210)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (12).jpg" onclick="openModal();currentSlide(211)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (13).jpg" onclick="openModal();currentSlide(212)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (2).jpg" onclick="openModal();currentSlide(213)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (3).jpg" onclick="openModal();currentSlide(214)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (4).jpg" onclick="openModal();currentSlide(215)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (5).jpg" onclick="openModal();currentSlide(216)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (6).jpg" onclick="openModal();currentSlide(217)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (7).jpg" onclick="openModal();currentSlide(218)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg (8).jpg" onclick="openModal();currentSlide(219)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo4jpg.jpg" onclick="openModal();currentSlide(220)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (1).jpg" onclick="openModal();currentSlide(221)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (2).jpg" onclick="openModal();currentSlide(222)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (3).jpg" onclick="openModal();currentSlide(223)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (4).jpg" onclick="openModal();currentSlide(224)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (5).jpg" onclick="openModal();currentSlide(225)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (6).jpg" onclick="openModal();currentSlide(226)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg (7).jpg" onclick="openModal();currentSlide(227)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo5jpg.jpg" onclick="openModal();currentSlide(228)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (1).jpg" onclick="openModal();currentSlide(229)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (2).jpg" onclick="openModal();currentSlide(230)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (3).jpg" onclick="openModal();currentSlide(231)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (4).jpg" onclick="openModal();currentSlide(232)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (5).jpg" onclick="openModal();currentSlide(233)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg (6).jpg" onclick="openModal();currentSlide(234)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo6jpg.jpg" onclick="openModal();currentSlide(235)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg (1).jpg" onclick="openModal();currentSlide(236)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg (2).jpg" onclick="openModal();currentSlide(237)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg (3).jpg" onclick="openModal();currentSlide(238)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg (4).jpg" onclick="openModal();currentSlide(239)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg (5).jpg" onclick="openModal();currentSlide(240)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo7jpg.jpg" onclick="openModal();currentSlide(241)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo8jpg (1).jpg" onclick="openModal();currentSlide(242)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo8jpg (2).jpg" onclick="openModal();currentSlide(243)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo8jpg (3).jpg" onclick="openModal();currentSlide(244)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo8jpg.jpg" onclick="openModal();currentSlide(245)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo9jpg (1).jpg" onclick="openModal();currentSlide(246)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo9jpg (2).jpg" onclick="openModal();currentSlide(247)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/pita-bread-complimentary.jpg" onclick="openModal();currentSlide(248)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/pulpo-gallego-grilled.jpg" onclick="openModal();currentSlide(249)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/salmon (1).jpg" onclick="openModal();currentSlide(250)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/salmon (2).jpg" onclick="openModal();currentSlide(251)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/salmon.jpg" onclick="openModal();currentSlide(252)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/scallops (1).jpg" onclick="openModal();currentSlide(253)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/scallops.jpg" onclick="openModal();currentSlide(254)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/sea-bass (1).jpg" onclick="openModal();currentSlide(255)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/seabass.jpg" onclick="openModal();currentSlide(256)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/sea-bass.jpg" onclick="openModal();currentSlide(257)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/seafood-paella-for-two.jpg" onclick="openModal();currentSlide(258)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/seafood-paella-plated.jpg" onclick="openModal();currentSlide(259)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/seafood-pasta.jpg" onclick="openModal();currentSlide(260)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/shank.jpg" onclick="openModal();currentSlide(261)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/shrimp.jpg" onclick="openModal();currentSlide(262)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/shrimp-and-steak.jpg" onclick="openModal();currentSlide(263)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/shrimp-and-steak-filet.jpg" onclick="openModal();currentSlide(264)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/slovenian-pinot_rotated_90.jpg" onclick="openModal();currentSlide(265)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/special-dessert-for-special.jpg" onclick="openModal();currentSlide(266)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/specialty-salad-of-the.jpg" onclick="openModal();currentSlide(267)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/strawberry-and-watermelon.jpg" onclick="openModal();currentSlide(268)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/the-desert-chef-made.jpg" onclick="openModal();currentSlide(269)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/three-course-special.jpg" onclick="openModal();currentSlide(270)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/vegan-paella-so-pretty.jpg" onclick="openModal();currentSlide(271)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/whole-hog-fish-special.jpg" onclick="openModal();currentSlide(272)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20190512-185430-largejpg.jpg" onclick="openModal();currentSlide(273)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20190512-185425-largejpg.jpg" onclick="openModal();currentSlide(274)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20161012-195235-largejpg.jpg" onclick="openModal();currentSlide(275)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/20160427-195508-largejpg.jpg" onclick="openModal();currentSlide(276)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/paella-for-two.jpg" onclick="openModal();currentSlide(277)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/paella.jpg" onclick="openModal();currentSlide(278)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (40).jpg" onclick="openModal();currentSlide(279)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (41).jpg" onclick="openModal();currentSlide(280)" /></div>
            <div class="item"><img src="~/lib/Images/Gallery-Light/photo0jpg (64).jpg" onclick="openModal();currentSlide(281)" /></div>
        </div>
    </div>
    @* End of the Images on the main screen *@

    @* Start of the Images on the pop-up *@
    <div id="myModal" class="modal sc2" ">
        <div class="modal-content">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="mySlides "><div class="numbertext">1 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (9).jpg" style="width:100%" /></div>
            <div class="mySlides "><div class="numbertext">2 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">3 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161354.191.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">4 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">5 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">6 / 281</div><img src="~/lib/Images/Gallery-Light/lamb-kestedes-appetizer.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">7 / 281</div><img src="~/lib/Images/Gallery-Light/chicken-pasta.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">8 / 281</div><img src="~/lib/Images/Gallery-Light/cioppino.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">9 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (34).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">10 / 281</div><img src="~/lib/Images/Gallery-Light/hog-snapper.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">11 / 281</div><img src="~/lib/Images/Gallery-Light/img-20180828-wa0049-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">12 / 281</div><img src="~/lib/Images/Gallery-Light/img-20200711-182922-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">13 / 281</div><img src="~/lib/Images/Gallery-Light/kebob.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">14 / 281</div><img src="~/lib/Images/Gallery-Light/lamb.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">15 / 281</div><img src="~/lib/Images/Gallery-Light/lamb-and-red-snapper (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">16 / 281</div><img src="~/lib/Images/Gallery-Light/limoncello-parfait.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">17 / 281</div><img src="~/lib/Images/Gallery-Light/mediterranean-sea-bass.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">18 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">19 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">20 / 281</div><img src="~/lib/Images/Gallery-Light/mediterraneo (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">21 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161332.785.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">22 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161339.499.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">23 / 281</div><img src="~/lib/Images/Gallery-Light/20161012-191917-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">24 / 281</div><img src="~/lib/Images/Gallery-Light/pappardelle-e-gamberoni.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">25 / 281</div><img src="~/lib/Images/Gallery-Light/pappardelle-tossed-with.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">26 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">27 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">28 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (49).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">29 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">30 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (18).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">31 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">32 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">33 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">34 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">35 / 281</div><img src="~/lib/Images/Gallery-Light/sliced-filet-bedded-over.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">36 / 281</div><img src="~/lib/Images/Gallery-Light/stone-crab-open-season.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">37 / 281</div><img src="~/lib/Images/Gallery-Light/this-is-the-pot-roast.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">38 / 281</div><img src="~/lib/Images/Gallery-Light/20161012-192737-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">39 / 281</div><img src="~/lib/Images/Gallery-Light/20181118-191246-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">40 / 281</div><img src="~/lib/Images/Gallery-Light/20181118-191252-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">41 / 281</div><img src="~/lib/Images/Gallery-Light/20181127-192606-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">42 / 281</div><img src="~/lib/Images/Gallery-Light/20190512-185422-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">43 / 281</div><img src="~/lib/Images/Gallery-Light/20200109-185523-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">44 / 281</div><img src="~/lib/Images/Gallery-Light/ajo-y-camerones.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">45 / 281</div><img src="~/lib/Images/Gallery-Light/appetizer-dolmades.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">46 / 281</div><img src="~/lib/Images/Gallery-Light/beef-tagine.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">47 / 281</div><img src="~/lib/Images/Gallery-Light/beef-tagine-so-savory.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">48 / 281</div><img src="~/lib/Images/Gallery-Light/bread-oil-and-balsalmic.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">49 / 281</div><img src="~/lib/Images/Gallery-Light/bright-colordelish-eggplant.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">50 / 281</div><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">51 / 281</div><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">52 / 281</div><img src="~/lib/Images/Gallery-Light/celebrating-2-birthdays.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">53 / 281</div><img src="~/lib/Images/Gallery-Light/cioppino-and-sea-bass.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">54 / 281</div><img src="~/lib/Images/Gallery-Light/creme-brulee (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">55 / 281</div><img src="~/lib/Images/Gallery-Light/creme-brulee.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">56 / 281</div><img src="~/lib/Images/Gallery-Light/creme-brulee-with-decoration.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">57 / 281</div><img src="~/lib/Images/Gallery-Light/delicious-beef-tagine.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">58 / 281</div><img src="~/lib/Images/Gallery-Light/dessert.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">59 / 281</div><img src="~/lib/Images/Gallery-Light/divine-snapper.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">60 / 281</div><img src="~/lib/Images/Gallery-Light/excelente (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">61 / 281</div><img src="~/lib/Images/Gallery-Light/excelente.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">62 / 281</div><img src="~/lib/Images/Gallery-Light/family-friendly.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">63 / 281</div><img src="~/lib/Images/Gallery-Light/filet-medallions.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">64 / 281</div><img src="~/lib/Images/Gallery-Light/filling-portions.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">65 / 281</div><img src="~/lib/Images/Gallery-Light/flaming-cheese-saganaki.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">66 / 281</div><img src="~/lib/Images/Gallery-Light/gazpacho.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">67 / 281</div><img src="~/lib/Images/Gallery-Light/grape-leaves.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">68 / 281</div><img src="~/lib/Images/Gallery-Light/hermoso-lugar-y-excelente (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">69 / 281</div><img src="~/lib/Images/Gallery-Light/hog-snapper-2.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">70 / 281</div><img src="~/lib/Images/Gallery-Light/hog-snapper-at-mediterrano.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">71 / 281</div><img src="~/lib/Images/Gallery-Light/horiatiki-salad.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">72 / 281</div><img src="~/lib/Images/Gallery-Light/horiatiki-salata.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">73 / 281</div><img src="~/lib/Images/Gallery-Light/how-fun-to-sip-a-blue.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">74 / 281</div><img src="~/lib/Images/Gallery-Light/ice-cream-and-limoncello.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">75 / 281</div><img src="~/lib/Images/Gallery-Light/img-20190623-200902-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">76 / 281</div><img src="~/lib/Images/Gallery-Light/lamb-and-red-snapper.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">77 / 281</div><img src="~/lib/Images/Gallery-Light/lamb-shank.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">78 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161342.487.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">79 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161348.337.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">80 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161356.998.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">81 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano - 2020-07-18T161559.090.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">82 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (78).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">83 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (80).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">84 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (81).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">85 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (82).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">86 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (83).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">87 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (84).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">88 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (85).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">89 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (87).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">90 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (88).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">91 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (89).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">92 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (90).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">93 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (91).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">94 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (39).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">95 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (93).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">96 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (95).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">97 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (97).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">98 / 281</div><img src="~/lib/Images/Gallery-Light/mediterrano (99).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">99 / 281</div><img src="~/lib/Images/Gallery-Light/menu-entree-ajo-y-camerones (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">100 / 281</div><img src="~/lib/Images/Gallery-Light/menu-entree-ajo-y-camerones.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">101 / 281</div><img src="~/lib/Images/Gallery-Light/mixed-fruit-dessert.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">102 / 281</div><img src="~/lib/Images/Gallery-Light/paella-valenciana-saffron.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">103 / 281</div><img src="~/lib/Images/Gallery-Light/paella-valenciana-seafood.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">104 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">105 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">106 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">107 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">108 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">109 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">110 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">111 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">112 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (20).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">113 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (21).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">114 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (23).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">115 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (24).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">116 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (25).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">117 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (26).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">118 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (27).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">119 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (29).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">120 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">121 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (31).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">122 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (32).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">123 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (35).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">124 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (36).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">125 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (38).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">126 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">127 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (46).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">128 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (47).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">129 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">130 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (53).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">131 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (57).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">132 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (58).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">133 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (59).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">134 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">135 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (65).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">136 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (66).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">137 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (67).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">138 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (69).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">139 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">140 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">141 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">142 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">143 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">144 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">145 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">146 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">147 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">148 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">149 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">150 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (19).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">151 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">152 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (20).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">153 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (21).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">154 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (23).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">155 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (24).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">156 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (27).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">157 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (28).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">158 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">159 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (31).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">160 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (32).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">161 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (33).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">162 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (35).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">163 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (36).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">164 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (38).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">165 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (40).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">166 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (41).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">167 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (42).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">168 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">169 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">170 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">171 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">172 / 281</div><img src="~/lib/Images/Gallery-Light/photo1jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">173 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">174 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">175 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">176 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">177 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">178 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">179 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (17).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">180 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (18).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">181 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (19).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">182 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">183 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (20).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">184 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (22).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">185 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (24).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">186 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (25).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">187 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">188 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">189 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">190 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">191 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">192 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">193 / 281</div><img src="~/lib/Images/Gallery-Light/photo2jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">194 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">195 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">196 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">197 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (14).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">198 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (15).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">199 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (16).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">200 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">201 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">202 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">203 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">204 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">205 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">206 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg (9).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">207 / 281</div><img src="~/lib/Images/Gallery-Light/photo3jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">208 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">209 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (10).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">210 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (11).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">211 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (12).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">212 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (13).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">213 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">214 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">215 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">216 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">217 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">218 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">219 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg (8).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">220 / 281</div><img src="~/lib/Images/Gallery-Light/photo4jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">221 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">222 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">223 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">224 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">225 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">226 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">227 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg (7).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">228 / 281</div><img src="~/lib/Images/Gallery-Light/photo5jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">229 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">230 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">231 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">232 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">233 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">234 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg (6).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">235 / 281</div><img src="~/lib/Images/Gallery-Light/photo6jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">236 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">237 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">238 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">239 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg (4).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">240 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg (5).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">241 / 281</div><img src="~/lib/Images/Gallery-Light/photo7jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">242 / 281</div><img src="~/lib/Images/Gallery-Light/photo8jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">243 / 281</div><img src="~/lib/Images/Gallery-Light/photo8jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">244 / 281</div><img src="~/lib/Images/Gallery-Light/photo8jpg (3).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">245 / 281</div><img src="~/lib/Images/Gallery-Light/photo8jpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">246 / 281</div><img src="~/lib/Images/Gallery-Light/photo9jpg (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">247 / 281</div><img src="~/lib/Images/Gallery-Light/photo9jpg (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">248 / 281</div><img src="~/lib/Images/Gallery-Light/pita-bread-complimentary.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">249 / 281</div><img src="~/lib/Images/Gallery-Light/pulpo-gallego-grilled.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">250 / 281</div><img src="~/lib/Images/Gallery-Light/salmon (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">251 / 281</div><img src="~/lib/Images/Gallery-Light/salmon (2).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">252 / 281</div><img src="~/lib/Images/Gallery-Light/salmon.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">253 / 281</div><img src="~/lib/Images/Gallery-Light/scallops (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">254 / 281</div><img src="~/lib/Images/Gallery-Light/scallops.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">255 / 281</div><img src="~/lib/Images/Gallery-Light/sea-bass (1).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">256 / 281</div><img src="~/lib/Images/Gallery-Light/seabass.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">257 / 281</div><img src="~/lib/Images/Gallery-Light/sea-bass.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">258 / 281</div><img src="~/lib/Images/Gallery-Light/seafood-paella-for-two.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">259 / 281</div><img src="~/lib/Images/Gallery-Light/seafood-paella-plated.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">260 / 281</div><img src="~/lib/Images/Gallery-Light/seafood-pasta.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">261 / 281</div><img src="~/lib/Images/Gallery-Light/shank.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">262 / 281</div><img src="~/lib/Images/Gallery-Light/shrimp.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">263 / 281</div><img src="~/lib/Images/Gallery-Light/shrimp-and-steak.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">264 / 281</div><img src="~/lib/Images/Gallery-Light/shrimp-and-steak-filet.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">265 / 281</div><img src="~/lib/Images/Gallery-Light/slovenian-pinot_rotated_90.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">266 / 281</div><img src="~/lib/Images/Gallery-Light/special-dessert-for-special.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">267 / 281</div><img src="~/lib/Images/Gallery-Light/specialty-salad-of-the.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">268 / 281</div><img src="~/lib/Images/Gallery-Light/strawberry-and-watermelon.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">269 / 281</div><img src="~/lib/Images/Gallery-Light/the-desert-chef-made.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">270 / 281</div><img src="~/lib/Images/Gallery-Light/three-course-special.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">271 / 281</div><img src="~/lib/Images/Gallery-Light/vegan-paella-so-pretty.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">272 / 281</div><img src="~/lib/Images/Gallery-Light/whole-hog-fish-special.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">273 / 281</div><img src="~/lib/Images/Gallery-Light/20190512-185430-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">274 / 281</div><img src="~/lib/Images/Gallery-Light/20190512-185425-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">275 / 281</div><img src="~/lib/Images/Gallery-Light/20161012-195235-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">276 / 281</div><img src="~/lib/Images/Gallery-Light/20160427-195508-largejpg.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">277 / 281</div><img src="~/lib/Images/Gallery-Light/paella-for-two.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">278 / 281</div><img src="~/lib/Images/Gallery-Light/paella.jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">279 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (40).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">280 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (41).jpg" style="width:100%" /></div>
            <div class="mySlides"><div class="numbertext">281 / 281</div><img src="~/lib/Images/Gallery-Light/photo0jpg (64).jpg" style="width:100%" /></div>
        </div>
        @* End of the Images on the pop-up *@

        <!-- Next/previous controls -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
    <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br /><br /><br />
</div>

@* Start of Javascript Animations *@
@* Javascript animations > Start of Gallery Modal-Lightbox Opening Animation *@

<script>
    // Open the Modal
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    // Close the Modal
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

@* End of Gallery Modal - Lightbox Opening Animation *@
@* Javascript animations > Start of Gallery Images Animations *@

<script>
    const observer = new IntersectionObserver(f, {
        threshold: [0, 1]
    });

    function f(entries) {
        for (const entry of entries) {
            if (entry.isIntersecting && entry.intersectionRatio >= 1) {
                entry.target.classList.toggle("inbound", true)
            }
            else {
                entry.target.classList.toggle("inbound", false)
            }
        }
    }

    const itemEls = Array.from(document.querySelectorAll(".item"));
    for (const itemEl of itemEls)
        observer.observe(itemEl)
</script>

@* End of Gallery Images Animations *@
@* End of Javascript Animations *@
