﻿@{
    ViewData["Title"] = "Gift_Card";
}
<!DOCTYPE html>

<style>
</style>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js?version=2"></script>
</head>

<body class="sc2">

    <main id="site-content" role="main">

        <div style="z-index: -1">
            <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep2" viewBox="0 0 1600 200" style="display: block;" data-height="200">
                <polygon class="" style="fill: rgb(209, 209, 209);" points="-4,0 1604,198 1604,204 -4,204 	"></polygon>
                <polygon class="" style="opacity: 1;fill: #d2d7d3; opacity:0.8" points="1604,198 1604,186 -4,0 -4,0 "></polygon>
                <polygon class="" style="opacity: 1;fill: #95a5a6; opacity:0.6" points="1604,186 1604,174 -4,0 -4,0 "></polygon>
            </svg>

            <svg id="" preserveAspectRatio="xMidYMax meet" class="svg-separator sep12" viewBox="0 0 1600 200" style="display: block;" data-height="100">
                <polygon class="" style="fill: rgb(209, 209, 209);" points="-4,24 800,198 1604,24 1604,204 -4,204 "></polygon>
                <polygon class="" style="opacity: 1;fill: #95a5a6; opacity:0.6" points="-4,0 800,-4,12 "></polygon>
                <polygon class="" style="opacity: 1;fill: #d2d7d3; opacity:0.8" points="-4,12 -4,24 800 "></polygon>
            </svg>
        </div>

        <div class="contained indexOneWrap">
            <h1 class="myH2 shine">Gift Card</h1>
            <object type="image/svg+xml" data="~/Row.svg"></object>
            <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

            <p class="myP" style="font-size: 24px; text-align: center;">
                We take a coastal approach to the splendor of Mediterranean cuisine.
                Our valued customers will find tantalizing dishes from the coasts of Spain, Greece, Italy, Morocco, and many more of the Mediterranean sea's bordering countries.
                We invite you to come experience our culinary vision for coastal Mediterranean, where explosive flavor profiles are delicately balanced through a fresh regional platform.
                Join us at Mediterrano, where exquisite food is complimented with top class hospitality.
            </p>

            <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
            <object type="image/svg+xml" data="~/RowDn.svg"></object><br />

        </div>

    </main>

</body>
</html>
