﻿@{
    ViewData["Title"] = "Home Page";
}

@* Entry screen testing

    <div class="preloader no-js:hidden text-white" id="js-preloader">
        <div class="preloader__background js-preloader-background">

        </div>
    </div>
*@

<style>
    .anroww {
        display: flex;
        flex-flow: row wrap;
        margin: 0 65px 0 65px;
    }
</style>

    <div class="contained indexOneWrap">

        <h1 class="myH2 shine">Welcome to Mediterrano</h1>
        <object type="image/svg+xml" data="~/Row.svg"></object>

        @* Start of Announcments Paragraph *@

        <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

        <div class="shine" style="font-family:'sail'; font-size:38px; text-align: center;">
            Announcments<br /><br />
        </div>

        <article class="wrapper">
            <div id="viewer">
                @* viewer fixes center positioning *@
                <div class="anroww">

                    <!-- card -->
                    <div class="card col col-auto splitContent">
                        <div class="rescontainer">

                            <!-- Start row -->
                            <div class="anroww" >

                                <!-- Start col -->
                                <div class="col col-auto">
                                    <div class="cardSect">
                                        <div class="itemm">
                                            <div class="head">

                                                <div class="title">
                                                    Seasonal Special:
                                                </div>

                                            </div>
                                            <div class="content">

                                                <hr />
                                                <section>

                                                    @* Start of anouncment text *@

                                                    <p class="myP" style="font-size: 24px; text-align: center;">
                                                        Try our Seasonal Special, the Habachi
                                                        3 Course Dinner Soup or Salad, Entrée & Dessert for $36. 
                                                        Only avalable January through February!
                                                    </p>

                                                    @* End of anouncment text *@

                                                </section>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End col -->
                                <!--Divider!-->

                                <div class="col col-auto" id="dividerWrap"></div>

                                <!--Divider end-->
                                <!-- Start col -->
                                <div class="col col-auto">
                                    <div class="cardSect">
                                        <div class="itemm">
                                           
                                            <div class="content">

                                                <section>

                                                    @* Start of announcment image *@
                                                    <div class="media">
                                                        <div class="polaroid">
                                                            <img src="~/lib/Images/Gallery-Light/mediterraneo (1).jpg" alt="Special" style="width: 300px; height: 300px;">
                                                            <div class="foot"></div>
                                                        </div>
                                                    </div>

                                                    @* End of announcment image *@

                                                </section>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End col -->

                            </div>
                            <!-- End Row-->
                        </div>
                        <!-- End Container-->
                        <!-- End Card 1 -->
                    </div>
                </div>
            </div>
            <!--End wrapper row-->

        </article><br />

        <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

        @* End of Announcments Paragraph *@

        @* Start of Address information *@

        <div class="addressWrap">
            <div class="shine" style="font-family:'sail'; padding-top:5%; font-size:48px;">
                Mediterrano<br />
            </div>
            <div class="bottomastrodivider"><div class="bottomastrodividermask"></div><span><i></i></span></div>

            <div style="font-family:'Times New Roman', Times, serif; font-size:21px;">
                <a href="https://www.google.com/maps/place/Mediterrano/(26.1307987,-81.8032876,17z/data=!3m1!4b1!4m23!1m17!4m16!1m4!2m2!1d-82.8317478!2d41.2882579!4e1!1m6!1m2!1s0x88dae10ccf1199c7:0x6dfe125e2baf7ac4!2sMediterrano,+336+13th+Ave+S,+Naples,+FL+34102!2m2!1d-81.8010989!2d26.1307939!1m2!1m1!2s26.1310182,-81.8025842,17.04z!3e0!3m4!1s0x88dae10ccf1199c7:0x6dfe125e2baf7ac4!8m2!3d26.1307939!4d-81.8010989">
                    @* https://goo.gl/maps/uJCecCDgSjLZN11WA *@
                    <strong>336 13th Ave S, Naples, FL 34102</strong>
                </a>
            </div>

            <div style="font-family:'Times New Roman', Times, serif; font-size:21px;">
                Downtown Old Naples<br />
                3rd St S & 13th Ave S<br />
                <a style="text-decoration: none;" href="tel:239-261-7498"><strong>(239) 261-7498</strong></a><br />
            </div>
            <br />
            <div style="font-family:'Times New Roman', Times, serif; font-size:21px;">
                <strong>OPEN DAILY FOR DINE-IN AND TAKEOUT</strong><br />
                Sunday through Thursday 5pm to 9pm<br />
                Friday & Saturday 5pm to 10pm<br />
            </div>
            <br />
            <div style="font-family:'Times New Roman', Times, serif; font-size:21px;">
                <strong>TWILIGHT (EARLY) DINING MENU</strong><br />
                Daily 5pm to 6pm - 3 Course Dinner $36<br />
                Soup or Salad, Entrée & Dessert<br />
            </div>
            <br />
            <div style="font-family:'Times New Roman', Times, serif; font-size:21px;">
                <strong>HAPPY HOUR</strong><br />
                Sunday through Thursday 5pm to 6pm<br />
                Selected Wines & Sangrias $5<br />
            </div>

            <div class="bottomastrodivider"><div class="bottomastrodividermask"></div><span><i></i></span></div>
            <div class="shine" style="font-family:'sail'; padding-bottom: 5%; font-size:38px;">
                <a style="text-decoration: none;" href="https://www.opentable.com/restref/client/?restref=167443&lang=en&corrid=7996e0bb-67ab-412d-9d42-0f80a508d767"><strong>Make a Reservation</strong></a><br />
            </div>
        </div>
        <br />

        @* End of Address information *@

        @* Start of Entry Welcome Paragraph *@

        <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

        <p class="myP" style="font-size: 24px; text-align: center;">
            We take a coastal approach to the splendor of Mediterranean cuisine.
            Our valued customers will find tantalizing dishes from the coasts of Spain, Greece, Italy, Morocco, and many more of the Mediterranean sea's bordering countries.
            We invite you to come experience our culinary vision for coastal Mediterranean, where explosive flavor profiles are delicately balanced through a fresh regional platform.
            Join us at Mediterrano, where exquisite food is complimented with top class hospitality. - Yours, Mediterrano
        </p>

        <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

        @* End of Entry Welcome Paragraph *@

        <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br />
    </div>

@* Big background image *@
<div class="parallax"></div>

@* Start of second half of main page *@
@* Start of Honors area *@

<div class="indexTwoWrap">

    <br /><object type="image/svg+xml" data="~/Row.svg"></object>

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    <div class="shine" style="font-family:'sail'; font-size:38px; text-align: center;">
        Honors
    </div>
  
    <br /><br /><br /><br /><br />

    <div class="honors">
        <div class="honor active">
            <img src="~/lib/Images/Awards/OpentableAw.svg" onclick="window.location.href = 'https://blog.opentable.com/2017/the-great-outdoors-100-best-al-fresco-dining-restaurants-in-america-2017-opentable100/'" />
        </div>
        <div class="honor next">
            <img src="~/lib/Images/Awards/TripadvisorchoiceAw.svg" onclick="window.location.href = 'https://www.tripadvisor.com/Restaurant_Review-g34467-d7790843-Reviews-Mediterrano-Naples_Florida.html'" />
        </div>
        <div class="honor">
            <img src="~/lib/Images/Awards/TripadvsorAw.svg" onclick="window.location.href = 'https://www.tripadvisor.com/Restaurant_Review-g34467-d7790843-Reviews-Mediterrano-Naples_Florida.html'" />
        </div>

        <div class="button-container">
            <div class="button"><i class="fa fa-arrow-left"></i></div>
            <div class="button"><i class="fa fa-arrow-right"></i></div>
        </div>
    </div>

    <br /><br /><br /><br /><br />
    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    @* End of Honors area *@

    @* Start of Articles area *@

<div class="articlesWrap">
    <div class="shine" style="font-family:'sail'; padding-top:5%; font-size:48px;">
        Articles
    </div>

    <div class="bottomastrodivider"><div class="bottomastrodividermask"></div><span><i></i></span></div>

    @* Forbes Article *@
    <div class="articleWrap" onclick="window.location.href = 'https://www.forbes.com/sites/karlaalindahao/2019/06/11/best-al-fresco-restaurants-in-america-2019/?fbclid=IwAR2okMbkwNXrzm4mqsnHsQX8M8Jd84TjHU8TCymSHgItAW2gZODCHFFAupM#2e7d8eec3d8b';">
        <p>
            <a style="text-decoration:none;" href="https://www.forbes.com/sites/karlaalindahao/2019/06/11/best-al-fresco-restaurants-in-america-2019/?fbclid=IwAR2okMbkwNXrzm4mqsnHsQX8M8Jd84TjHU8TCymSHgItAW2gZODCHFFAupM#2e7d8eec3d8b"><strong>Forbes: 100 Best Al Fresco Dining Restaurants in America 2019</strong></a>
        </p>
    </div>

    @* OpenTable Article *@
    <div class="articleWrap" onclick="window.location.href = 'https://blog.opentable.com/2017/the-great-outdoors-100-best-al-fresco-dining-restaurants-in-america-2017-opentable100/';">
        <p>
            <a style="text-decoration:none;" href="https://blog.opentable.com/2017/the-great-outdoors-100-best-al-fresco-dining-restaurants-in-america-2017-opentable100/"><strong>OpenTable: 100 Best Al Fresco Dining Restaurants in America 2017</strong></a>
        </p>
    </div>

    @* Gulfshore Life article *@
    <div class="articleWrap" onclick="window.location.href = 'https://www.gulfshorelife.com/2015/02/25/hot-dish-mediterrano-debuts-off-third/';">
        <p>
            <a style="text-decoration:none;" href="https://www.gulfshorelife.com/2015/02/25/hot-dish-mediterrano-debuts-off-third/"><strong>Gulfshore Life: Hot Dish: Mediterrano Debuts Off Third</strong></a>
        </p>
    </div>

    @* Wink News Article *@
    <div class="articleWrap" style="padding-bottom: 2%;" onclick="window.location.href = 'https://www.winknews.com/2017/06/08/naples-restaurant-week-mediterrano/';">
        <p>
            <a style="text-decoration:none;" href="https://www.winknews.com/2017/06/08/naples-restaurant-week-mediterrano/"><strong>Wink News Naples:</strong></a>
        </p>
        <div>
            <img class="winkNews" style="width:50%; height:50%; border-radius: 5px;" src="~/lib/Images/Backgrounds/WixNews.svg" />
        </div>
    </div>

    <div class="bottomastrodivider"><div class="bottomastrodividermask"></div><span><i></i></span></div><br />
</div><br />
    @* End of Articles area *@

    @* Start of video and map section *@
    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    <article class="wrapper">
        <div id="viewer">
            @* viewer fixes center positioning *@
            <div class="roww">

                <!-- card -->
                <div class="card col col-auto splitContent">
                    <div class="rescontainer">

                        <!-- Start row -->
                        <div class="roww">

                            <!-- Start col -->
                            <div class="col col-auto">
                                <div class="cardSect">
                                    <div class="itemm">
                                        <div class="head">

                                            <div class="title">
                                                Locate Us:
                                            </div>
                                        </div>
                                        <div class="content">

                                            <hr />
                                            <section>

                                                @* Start of map *@

                                                <iframe class="vidMapRadius" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3582.0228268095593!2d-81.80328758549622!3d26.130798699603112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dae10ccf1199c7%3A0x6dfe125e2baf7ac4!2sMediterrano!5e0!3m2!1sen!2sus!4v1596996216676!5m2!1sen!2sus" width="280" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                                                @* End of map *@

                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End col -->
                            <!--Divider!-->
                            <div class="col col-auto" id="dividerWrap">
                                <div class="contentDivider">
                                    <div class="dividedText" style="font-family: 'Sail'; font-size: 20px;"><strong>And</strong></div>
                                </div>
                            </div>
                            <!--Divider end-->
                            <!-- Start col -->
                            <div class="col col-auto">
                                <div class="cardSect">
                                    <div class="itemm">
                                        <div class="head">

                                            <div class="title">
                                                Explore Us:
                                            </div>
                                        </div>
                                        <div class="content">

                                            <hr />
                                            <section>
                                                @* Start of video *@

                                                <video class="vidMapRadius" width="280" height="200" controls>
                                                    <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
                                                    <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
                                                </video>

                                                @* End of video *@

                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End col -->

                        </div>
                        <!-- End Row-->
                    </div>
                    <!-- End Container-->
                    <!-- End Card 1 -->
                </div>
            </div>
        </div>
        <!--End wrapper row-->

    </article><br />

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
    @* End of video and map section *@

    <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br />
</div>
@* End of second half of main page *@

@* Start of Honors image animation *@

<script>
    const slider = document.querySelector(".honors");
    const slides = document.querySelectorAll(".honor");
    const button = document.querySelectorAll(".button");

    let current = Math.floor(Math.random() * slides.length);
    let prev = current > 0 ? current - 1 : slides.length - 1;
    let next = current < slides.length - 1 ? current + 1 : 0;

    const update = () => {
        slides.forEach(it => {
            it.classList.remove("active");
            it.classList.remove("prev");
            it.classList.remove("next");
        });

        slides[current].classList.add("active");
        slides[prev].classList.add("prev");
        slides[next].classList.add("next");
    }

    for (let i = 0; i < button.length; i++) {
        button[i].addEventListener("click", () => i == 0 ? gotoPrev() : gotoNext());
    }

    const gotoPrev = () => current > 0 ? gotoNum(current - 1) : gotoNum(slides.length - 1);
    const gotoNext = () => current < slides.length - 1 ? gotoNum(current + 1) : gotoNum(0);

    const gotoNum = number => {
        current = number;
        prev = current > 0 ? current - 1 : slides.length - 1;
        next = current < slides.length - 1 ? current + 1 : 0;

        update();
    }

    update();
</script>

@* End of Honors image animation *@

@* spotify audio test:
    <iframe src="https://open.spotify.com/embed/playlist/27RqFvh3HML1eMR17fb4lg" width="80" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
*@