﻿@{
    ViewData["Title"] = "Menu_Twilight";
    ViewData["SingleCut"] = true;
}

<div class="contained indexOneWrap">

    <h1 class="myH2 shine">Twilight (Early) Dining Menu</h1>
    <object type="image/svg+xml" data="~/Row.svg"></object>

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>



    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
    <object type="image/svg+xml" data="~/RowDn.svg"></object><br />

</div>
