﻿@{
    ViewData["Title"] = "Reservations";
}

<div class="contained indexOneWrap">

    <h1 class="myH2 shine">Make a Reservation</h1>
    <object type="image/svg+xml" data="~/Row.svg"></object>
    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>

    <!-- Start of Reservation Information -->
    <article class="wrapper">
        <div class="roww">

            <!-- card -->
            <div class="card col col-auto splitContent">
                <div class="rescontainer">

                    <!-- Start row -->
                    <div class="roww">

                        <!-- Start col -->
                        <div class="col col-auto">
                            <div class="cardSect">
                                <div class="itemm">
                                    <div class="head">

                                        <div class="title">
                                            Reserve By Call:
                                        </div>
                                    </div>
                                    <div class="content">

                                        <hr />
                                        <section>
                                            <a href="tel:239-261-7498" class="btn pulse">
                                                <span class="btn-content">(239) 261-7498</span>
                                                <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            </a>

                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->
                        <!--Divider!-->
                        <div class="col col-auto" id="dividerWrap">
                            <div class="contentDivider">
                                <div class="dividedText" style="font-family: 'Sail'; font-size: 20px;"><strong>Or</strong></div>
                            </div>
                        </div>
                        <!--Divider end-->
                        <!-- Start col -->
                        <div class="col col-auto">
                            <div class="cardSect">
                                <div class="itemm">
                                    <div class="head">

                                        <div class="title">
                                            Reserve With OpenTable:
                                        </div>
                                    </div>
                                    <div class="content">

                                        <hr />
                                        <section>
                                            <a href="https://www.opentable.com/restref/client/?restref=167443&lang=en&corrid=7996e0bb-67ab-412d-9d42-0f80a508d767" class="btn pulse">
                                                <span class="btn-content">OpenTable</span>
                                                <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                                            </a>

                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End col -->

                    </div>
                    <!-- End Row-->
                </div>
                <!-- End Container-->
                <!-- End Card 1 -->
            </div>
        </div>
        <!--End wrapper row-->
    </article>
    <!-- End of Reservation Information -->

    <div class="astrodivider"><div class="astrodividermask"></div><span><i></i></span></div>
    <object type="image/svg+xml" data="~/RowDn.svg"></object><br /><br />

</div>