﻿@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Sail');

/* Start of basic code */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background: radial-gradient(mistyrose,black);
}

main {
    padding: 0;
    padding-top: 0.1px;
    padding-left: 0px;
    position: relative;
    background: #D1D1D1;
    z-index: 2;
}

.myH2 {
    text-align: center;
    font-size: 45px;
    font-family: 'Sail';
    color: #004991;
}

.myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 50px;
    font-family: 'Sail';
}

.shine {
    color: #004991;
    -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 50%;
    animation: shine 100s infinite;
}

.sec::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 60%,rgba(0,0,0,.8) 100%);
}

.parallax {
    /* The image used */
    background-image: url('../lib/images/backgrounds/mediterrano (1).jpg');
    /* Set a specific height */
    min-height: 75vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* End of basic code */

/* Start of Navbar section */

.nav {
    z-index: 100;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    opacity: 0.95;
    /* font-family: "Quicksand", sans-serif; */
    font-family: 'Sail';
}
/* Left side of the Navbar: */
    .nav div.logo {
        float: left;
        width: auto;
        height: auto;
        padding-left: 2.5rem;
        
    }

        .nav div.logo a {
            text-decoration: none;
            color: #fff;
            font-size: 2.5rem;
        }

            .nav div.logo a:focus {
                color: #00a2ff;
                -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                -webkit-mask-size: 50%;
                animation: shine 10s infinite;
            }


/* Right side of the Navbar */

    .nav div.main_list {
        height: 65px;
        float: right;
    }

        .nav div.main_list ul {
            width: 100%;
            height: 65px;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .nav div.main_list ul li {
                width: auto;
                height: 65px;
                padding: 0;
                padding-right: 2.5rem;
            }

                .nav div.main_list ul li a {
                    text-decoration: none;
                    color: #fff;
                    line-height: 65px;
                    font-size: 2.4rem;
                }

                    .nav div.main_list ul li a:focus {              /* Hover effect */
                        color: #00a2ff;
                        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                        -webkit-mask-size: 50%;
                        animation: shine 10s infinite;
                    }

/* Home section */

.navTrigger {
    display: none;

}

.nav {
    padding-top: 2px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.6s ease;

}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

/* Fixed background image for height */
@media screen and (max-height:550px) {

    .home {
        background-size: cover;
        height: 68vh; /* Fallback for browsers that do not support Custom Properties, Safari */
        height: calc(var(--vh, 1vh) * 68);
        background-position: center top; /* 85% Looks Pretty too, but 48.2 is centered */
        
    }
}

/* Everything mobile: */

    @media screen and (max-width:1130px) {

        .home {
            background-size: cover;
            height: 68vh; /* Fallback for browsers that do not support Custom Properties, Safari */
            height: calc(var(--vh, 1vh) * 68);
            background-position: center top; /* 85% Looks Pretty too, but 48.2 is centered */
            background-image: url('../lib/images/backgrounds/beautiful-by-night-i.jpg');
        }

        .navTrigger {
            display: block;
        }

        .nav div.logo {
            padding-left: 2.5rem;
        }

        .nav div.main_list {
            width: 100%;
            height: 0;
            overflow: hidden;
        }

        .nav div.show_list {
            height: auto;
            display: none;
        }

        .nav div.main_list ul {
            flex-direction: column;
            width: 100%;
            height: 100vh;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #000;
            background-position: center top;
        }

            .nav div.main_list ul li {
                width: 100%;
                text-align: right;
            }

                .nav div.main_list ul li a {
                    text-align: center;
                    width: 100%;
                    font-size: 3rem;
                    padding: 20px;
                }

        .nav div.media_button {
            display: block;
        }

        /* Start of vertical Divider */

        .or-spacer-vertical {
            display: inline-block;
            margin-top: -20%;
            margin-left: 47.525%;
            width: 100px;
            position: relative;
        }

            .or-spacer-vertical .mask {
                overflow: hidden;
                width: 20px;
                height: 375px;
            }

            .or-spacer-vertical.right .mask:before {
                content: '';
                display: block;
                margin-left: 20px;
                width: 20px;
                height: 100%;
                border-radius: 12px / 165px;
                box-shadow: 0 0 8px white;
            }
    }

    @media screen and (max-width:450px) {
        .or-spacer-vertical {
            display: inline-block;
            margin-top: -50%;
            margin-left: 47.5%;
            width: 100px;
            position: relative;
        }

        /* End of vertical Divider */

        .parallax {
            /* The image used */
            background-image: url('../lib/images/backgrounds/indeximg1.svg');
            /* Set a specific height */
            min-height: 500px;
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    /* Start of Animations > Navbar */
    /* Shine Animation > Navbar > Animations*/

    a:hover {
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
    }

    @-webkit-keyframes shine {
        from {
            -webkit-mask-position: 150%;
        }

        to {
            -webkit-mask-position: -50%;
        }
    }

    /* Start of burger(Trigger) > Navbar > Animations */

    .navTrigger {
        cursor: pointer;
        width: 30px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 30px;
        top: 0;
        bottom: 0;
    }

        .navTrigger i {
            background-color: #fff;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
        }

            .navTrigger i:nth-child(1) {
                -webkit-animation: outT 0.8s backwards;
                animation: outT 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }

            .navTrigger i:nth-child(2) {
                margin: 5px 0;
                -webkit-animation: outM 0.8s backwards;
                animation: outM 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }

            .navTrigger i:nth-child(3) {
                -webkit-animation: outBtm 0.8s backwards;
                animation: outBtm 0.8s backwards;
                -webkit-animation-direction: reverse;
                animation-direction: reverse;
            }

        .navTrigger.active i:nth-child(1) {
            -webkit-animation: inT 0.8s forwards;
            animation: inT 0.8s forwards;
        }

        .navTrigger.active i:nth-child(2) {
            -webkit-animation: inM 0.8s forwards;
            animation: inM 0.8s forwards;
        }

        .navTrigger.active i:nth-child(3) {
            -webkit-animation: inBtm 0.8s forwards;
            animation: inBtm 0.8s forwards;
        }

    @-webkit-keyframes inM {
        50% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(45deg);
        }
    }

    @keyframes inM {
        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @-webkit-keyframes outM {
        50% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(45deg);
        }
    }

    @keyframes outM {
        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @-webkit-keyframes inT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }

        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }

        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }

    @keyframes inT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(9px) rotate(0deg);
        }

        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }

    @-webkit-keyframes outT {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }

        50% {
            -webkit-transform: translateY(9px) rotate(0deg);
        }

        100% {
            -webkit-transform: translateY(9px) rotate(135deg);
        }
    }

    @keyframes outT {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(9px) rotate(0deg);
        }

        100% {
            transform: translateY(9px) rotate(135deg);
        }
    }

    @-webkit-keyframes inBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }

        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }

        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }

    @keyframes inBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(-9px) rotate(0deg);
        }

        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }

    @-webkit-keyframes outBtm {
        0% {
            -webkit-transform: translateY(0px) rotate(0deg);
        }

        50% {
            -webkit-transform: translateY(-9px) rotate(0deg);
        }

        100% {
            -webkit-transform: translateY(-9px) rotate(135deg);
        }
    }

    @keyframes outBtm {
        0% {
            transform: translateY(0px) rotate(0deg);
        }

        50% {
            transform: translateY(-9px) rotate(0deg);
        }

        100% {
            transform: translateY(-9px) rotate(135deg);
        }
    }

    /* End of burger(Trigger) > Navbar > Animations */

    .affix {
        padding: 0;
        background-color: #000000;
        -webkit-box-shadow: 0 8px 6px -6px black;
        -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
    }

    /* End of Animations > Navbar */
    /* End of Navbar section */

    /* Start of Dropdown Code */

    .dropdown {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        font-size: 2.5rem;
    }

        .dropdown .dropbtn {
            font-size: 2.5rem;
            border: none;
            outline: none;
            color: white;
            padding: 0;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
            color: #00a2ff;
            -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            -webkit-mask-size: 50%;
            animation: shine 10s infinite;
        }

    .dropdown-content {
        font-size: 2.5rem;
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        text-align: center;
    }

        .dropdown-content a {
            font-size: 2.5rem;
            float: none;
            color: black;
            padding: inherit;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
            }

    .dropdown:hover .dropdown-content {
        display: block;
        opacity: 0.92;
    }

    /* End of Dropdown Code */

    /* Start of Footer code: */

    #site-footer {
        padding: 25px 0;
        font-size: 85%;
        background-color: #2A2A2A;
        position: fixed; /* CSS position:fixed causes blurry images in Android Browsers */
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #site-content {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-box-shadow: 0px -20px 60px #000;
        -moz-box-shadow: 0px -20px 60px #000;
        box-shadow: 0px -20px 60px #000;
    }

    #site-footer {
        min-height: 20vw;
        background-size: cover;
        background-position: center;
    }

    /* End of footer code */

    /* Start of scrollbar code */

    .sc2::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .sc2::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    .sc2::-webkit-scrollbar-thumb {
        background-color: #11171a;
        border-radius: 10px;
    }

    /* End of scrollbar code */

    /* Start of Divider */
    /* Start of Divider Light version */

    .astrodividermask {
        overflow: hidden;
        height: 20px;
    }

        .astrodividermask:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px / 12px;
            box-shadow: 0 0 8px #000;
        }

    .astrodivider span {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 100%;
        margin-bottom: -15px;
        left: 50%;
        margin-left: -15px;
        border-radius: 100%;
        box-shadow: 0 2px 15px #fffbb3;
        background: #fff;
    }

    .astrodivider i {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-radius: 100%;
        border: 0px dashed #68beaa;
        text-align: center;
        line-height: 40px;
        font-style: normal;
        color: #049372;
    }

    /* End of Divider Light version */
    /* Start of Divider Dark version */

    .astrodividermaskdark {
        overflow: hidden;
        height: 20px;
    }

        .astrodividermaskdark:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px / 12px;
            box-shadow: 0 0 8px #00a2ff;
        }

    .astrodividerdark span {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 100%;
        margin-bottom: -15px;
        left: 50%;
        margin-left: -15px;
        border-radius: 100%;
        box-shadow: 0 2px 15px #fffbb3;
        background: #fff;
    }

    .astrodividerdark i {
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 4px;
        right: 4px;
        border-radius: 100%;
        border: 0px dashed #68beaa;
        text-align: center;
        line-height: 40px;
        font-style: normal;
        color: #049372;
    }
    /* End of Divider Dark version */

    /* Start of Bottom Page Divider */

    .bottomastrodivider {
        margin: 24px auto;
        width: 50%;
        max-width: 100%;
        position: relative;
    }

    .bottomastrodividermask {
        overflow: hidden;
        height: 5px;
    }

        .bottomastrodividermask:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 25px / 6px;
            box-shadow: 0 1px 4px #004991;
        }

    /* End of Bottom Page Divider */

    /* End of Dividers */

    /* Start of Row divider */

    .row {
        width: 100%;
        height: 80vh;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .svg-separator {
        display: block;
        background: 0 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9;
        -webkit-transform: translateY(-100%) translateY(2px);
        transform: translateY(-100%) translateY(2px);
        width: 100%;
    }

        .svg-separator.bottom {
            top: auto;
            bottom: 0;
        }

    /* End of Row divider */

    /* Start of Gallery Images CSS */
    /* Start of Gallery Light Version */

    .waterfall {
        width: 80vw;
        margin: 5em 0;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        grid-gap: 4em;
        grid-auto-flow: row;
        grid-auto-rows: 10vh;
    }

    @media screen and (min-width:2500px) {
        .waterfall {
            width: 40vw;
            margin: 5em 0;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            grid-gap: 4em;
            grid-auto-flow: row;
            grid-auto-rows: 10vh;
        } 

    }

    .waterfall .item:nth-of-type(3n+1) {
        grid-row: auto/span 3;
    }

    .waterfall .item:nth-of-type(3n+2) {
        grid-row: auto/span 3;
    }

    .waterfall .item:nth-of-type(3n+3) {
        grid-row: auto/span 4;
    }

    .waterfall .item {
        overflow: hidden;
        filter: saturate(0)contrast(10)brightness(0.2);
        transition: transform 0.2s, border 0.1s;
        box-sizing: border-box;
        border: 1em solid transparent;
        -webkit-box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
        box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
    }

        .waterfall .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(15deg);
            transition: all 1s;
        }

        .waterfall .item.inbound {
            transform: rotate(0);
            filter: none;
            border-bottom: 1px solid #00a2ff;
            -webkit-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            -moz-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
        }

            .waterfall .item.inbound img {
                transform: rotate(0);
            }

    .item.inbound img:hover {
        transform: scale(1.1);
        z-index: 5;
    }

    .item:nth-child(even) {
        margin-right: 0;
    }

    .come-in {
        transform: translateY(150px);
        animation: come-in 0.8s ease forwards;
    }

        .come-in:nth-child(odd) {
            animation-duration: 0.6s;
        }

    .already-visible {
        transform: translateY(0);
        animation: none;
    }

    @keyframes come-in {
        to {
            transform: translateY(0);
        }
    }

    /* End of Gallery Light Version */
    /* Start of Gallery Dark Version */

    .waterfalldark {
        width: 80vw;
        margin: 5em 0;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        grid-gap: 4em;
        grid-auto-flow: row;
        grid-auto-rows: 10vh;
    }

    @media screen and (min-width:2500px) {
        .waterfalldark {
            width: 40vw;
            margin: 5em 0;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
            grid-gap: 4em;
            grid-auto-flow: row;
            grid-auto-rows: 10vh;
        }
    } 

        .waterfalldark .item:nth-of-type(3n+1) {
            grid-row: auto/span 4;
        }

        .waterfalldark .item:nth-of-type(3n+2) {
            grid-row: auto/span 3;
        }

        .waterfalldark .item:nth-of-type(3n+3) {
            grid-row: auto/span 4;
        }

        .waterfalldark .item {
            overflow: hidden;
            filter: saturate(0)contrast(10)brightness(0.2);
            transition: transform 0.2s, border 0.1s;
            box-sizing: border-box;
            border: 1em solid transparent;
            -webkit-box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
            -moz-box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
            box-shadow: 0px 0px 52px 9px rgba(0,0,0,1);
        }

            .waterfalldark .item img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(15deg);
                transition: all 1s;
            }

            .waterfalldark .item.inbound {
                transform: rotate(0);
                filter: none;
                border-bottom: 1px solid #00a2ff;
                -webkit-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
                -moz-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
                box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            }

                .waterfalldark .item.inbound img {
                    transform: rotate(0);
                }

    .item.inbound img:hover {
        transform: scale(1.1);
        z-index: 5;
    }

    /* End of Gallery Dark Version */
    /* End of Gallery Images CSS */

    /* Start of Gallery Modal Lightbox */

    .rows > .column {
        padding: 0 8px;
    }

    .rows:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Create four equal columns that floats next to eachother */
    .column {
        float: left;
        width: 25%;
    }

    /* The Modal (background) */

    .modal {
        display: none;
        position: fixed;
        z-index: 51;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
    }

    /* Modal Content */
    @media screen and (min-width:1130px) {

        .modal-content {
            position: relative;
            background-color: #0077bc;
            margin: auto;
            padding: 0;
            width: 40%; /* Image size on computer */
            -webkit-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            -moz-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
        }
    }

    @media screen and (max-width:1130px) {

        .modal-content {
            position: relative;
            background-color: #0077bc;
            margin: auto;
            padding: 0;
            width: 80%; /* Image size on mobile */
            -webkit-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            -moz-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
            box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
        }
    }

    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 50%;
        animation: shine 100s infinite;
    }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

    /* Hide the slides by default */
    .mySlides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 13px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-mask-size: 100%;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
            -webkit-mask-size: 100%;
        }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        font-family: 'Sail';
    }

    /*
.numbername {
    color: #000;

    font-size: 20px;
    padding: 8px 75px;
    position: absolute;
    top:0;
    font-family: 'Sail';
}

        */

    /* End of Gallery Modal Lightbox */
    /* Start of scroll to top */

    #scroll-top a {
        padding-top: 70px;
    }

        #scroll-top a span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
        }

    .demo a:hover {
        opacity: .5;
    }

    /* End of scroll to top */

    /* Start of Back to top button */

    #button {
        display: inline-block;
        background-color: #004991;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 14px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
        -webkit-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
        -moz-box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
        box-shadow: 1px 7px 26px -3px rgba(0,204,255,1);
    }

        #button::after {
            content: "\f077";
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            font-size: 2em;
            line-height: 50px;
            color: #fff;
        }

        #button:hover {
            cursor: pointer;
            background-color: #333;
            -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            -webkit-mask-size: 100%;
            animation: shine 10s infinite;
        }

        #button:active {
            background-color: #555;
        }

        #button.show {
            opacity: 1;
            visibility: visible;
        }

    /* End of Back to top button */

    /* Start of Wrappers */

    .addressWrap {
        opacity: 0.95;
        border-radius: 30px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 30px;
        background-color: #ddd;
        -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
    }

    .articlesWrap {
        opacity: 0.95;
        border-radius: 30px;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 30px;
        background-color: #ddd;
        -webkit-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 16px 4px rgba(0,0,0,0.75);
    }

    /* Wrappers > Start of main page index wrappers */

    .indexOneWrap {
        opacity: 0.95;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 30px;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 14px 13px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 14px 13px -8px rgba(0,0,0,0.75);
        box-shadow: 0px 14px 13px -8px rgba(0,0,0,0.75);
    }

    .indexTwoWrap {
        opacity: 0.95;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 30px;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 13px 4px rgba(0,0,0,0.75);
    }

    @media screen and (min-width:1365px) {
        .indexOneWrap {
            opacity: 0.95;
            max-width: 1365px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid #000;
            text-align: center;
            font-size: 30px;
            overflow-x: hidden;
            box-shadow: 0 30px 33px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 30px 33px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 30px 33px rgba(0, 0, 0, 0.4);
        }

        .indexTwoWrap {
            opacity: 0.95;
            max-width: 1365px;
            margin-left: auto;
            margin-right: auto;
            border: 0px solid #000;
            text-align: center;
            font-size: 30px;
            overflow-x: hidden;
            box-shadow: 0 -29px 34px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 -29px 34px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 -29px 34px rgba(0, 0, 0, 0.4);
        }
    }

    /* Wrappers > End of main page index wrappers */
    /* Wrappers > Start of article wrappers */

    .articleWrap {
        opacity: 1;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
        background-color: #f2f2f2;
        -webkit-box-shadow: 6px 6px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 6px 12px -1px rgba(0,0,0,0.75);
        box-shadow: 6px 6px 12px -1px rgba(0,0,0,0.75);
    }

        .articleWrap:hover {
            transform: scale(1.025);
        }

    .winkNews {
        -webkit-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 18px 1px rgba(0,0,0,0.75);
    }

    /* Wrappers > End of article wrappers */
    /* Wrappers > Start of honors wrappers */


    .honors {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .honors .honor {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            transition: all 300ms ease-in-out;
            z-index: -1;
            opacity: 0;
        }

    .honor img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .honor.active {
        opacity: 1;
        z-index: 99;
        box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
    }

    .honor.prev {
        z-index: 2;
        opacity: 0.25;
        transform: translate(-125%, -50%);
    }

    .honor.next {
        z-index: 2;
        opacity: 0.25;
        transform: translate(25%, -50%);
    }

    .honors .button-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        z-index: 100;
    }

    .button-container .button {
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        opacity: 0.75;
        transition: all 300ms ease-in-out;
    }

        .button-container .button:hover {
            opacity: 1;
        }

        .button-container .button:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 50%;
            z-index: -99;
        }

        .button-container .button:nth-child(1) {
            float: left;
        }

        .button-container .button:nth-child(2) {
            float: right;
        }

    .honorsWrap {
        opacity: 1;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        display: inline;
        text-align: center;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-column-gap: 6px;
        grid-row-gap: 6px;
    }



    .awWrap1 {
        opacity: 1;
        max-width: 25%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 50px;
        padding-right: 50%;
        -webkit-box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
        -moz-box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
        box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
    }

        .awWrap1:hover {
            transform: scale(1.025);
        }

    .awWrap2 {
        opacity: 1;
        max-width: 25%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 50px;
        padding-left: 50%;
        -webkit-box-shadow: 147px 148px 34px -155px rgba(0,0,0,0.81);
        -moz-box-shadow: 147px 148px 34px -155px rgba(0,0,0,0.81);
        box-shadow: 147px 148px 34px -155px rgba(0,0,0,0.81);
    }

        .awWrap2:hover {
            transform: scale(1.025);
        }

    .awWrap3 {
        opacity: 1;
        max-width: 25%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid #000;
        text-align: center;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 50px;
        padding-right: 50%;
        -webkit-box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
        -moz-box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
        box-shadow: -152px 152px 50px -155px rgba(0,73,145,1);
    }

        .awWrap3:hover {
            transform: scale(1.025);
        }

    /* Wrappers > End of honors wrappers */
    /* End of Wrappers */

    /* Start of Reservations Divider */

    .wrapper {
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        padding-right: auto;
        padding-left: auto;
        display: flex;
        flex-flow: column wrap;
    }

    .rescontainer {
        margin: auto;
    }

    .card {
        text-align: center;
    }

        .card .container {
            padding: 0;
            min-width: 300px;
        }

    .splitContent {
        justify-content: space-between;
        min-width: 50%;
    }

    .col {
        flex: 1 2 0;
        max-width: 100%;
    }

        .col.col-auto {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
        }

    .roww {
        display: flex;
        flex-flow: row wrap;
        margin: 0 40px 0 40px;
    }

    @media screen and (max-width:1130px) {
        .roww {
            display: flex;
            flex-flow: row wrap;
            margin: 0 -15px 0 -15px;
        }

        .col.col-auto {
            position: relative;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .cardSect {
        align-content: center;
        justify-content: center;
        margin: 5px;
        min-width: 180px;
        display: flex;
        flex-wrap: wrap;
    }

    .itemm > .head {
        text-align: center;
        margin-bottoom: 5px;
    }

        .itemm > .head .title {
            font-weight: bold;
            font-size: 25px;
            margin-bottom: 10px;
            font-family: 'Sail';
        }

    .itemm .content {
        font-size: 15px;
    }

    .title {
        color: #004991;
        -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
        -webkit-mask-size: 50%;
        animation: shine 100s infinite;
    }


    @media screen and (max-width:1130px) {
        .title {
            text-align: center;
        }

        .cardSect {
            justify-content: center;
            min-height: 100px;
        }

        #dividerWrap {
            flex-basis: 0;
            flex-grow: 1;
            min-width: 90%;
        }

        .itemm {
            display: block;
        }

        .contentDivider {
            margin: 15px 0 15px 0;
            font-size: 10px;
        }

            .contentDivider .dividedText {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                -webkit-mask-size: 50%;
                animation: shine 100s infinite;
            }

                .contentDivider .dividedText:before, .contentDivider .dividedText:after {
                    content: '';
                    border-top: 1px solid;
                    margin: 0 20px 0 0;
                    flex: 1 0 20px;
                }

                .contentDivider .dividedText:after {
                    margin: 0 0 0 20px;
                }
    }

    @media (min-width: 1131.01px) {
        #dividerWrap {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 20px;
            padding: -10px 0 -10px;
            justify-content: center;
        }

        .split {
            justify-content: center;
        }

        .contentDivider {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            justify-self: center;
            height: 100%;
            min-width: 100%;
        }

            .contentDivider .dividedText:before, .contentDivider .dividedText:after {
                position: absolute;
                content: "";
                width: 1px;
                left: 50%;
                border-left: 1px solid black;
                -webkit-mask-image: linear-gradient(-25deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                -webkit-mask-size: 50%;
                animation: shine 100s infinite;
            }

            .contentDivider .dividedText:before {
                bottom: 50%;
                top: 0;
                margin-bottom: 20px;
            }

            .contentDivider .dividedText:after {
                top: 50%;
                bottom: 0;
                margin-top: 20px;
            }
    }

    /* End of Reservations Divider */

    /* Start of Reservation Buttons */

    @keyframes pulse {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        33% {
            transform: scale(1);
            opacity: 0.5;
        }

        100% {
            transform: scale(3);
            opacity: 0;
        }
    }

    .pulse:hover {
        position: relative;
    }

        .pulse:hover:before, .pulse:hover:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,204,255,1);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            opacity: 0;
            margin: auto;
        }

        .pulse:hover:before {
            animation: pulse 1.5s infinite linear;
        }

        .pulse:hover:after {
            animation: pulse 2s 0.4s infinite linear;
        }

    .btn {
        border-radius: 80px;
        border: 2px outset #00a2ff;
        color: #00a2ff;
        display: inline-block;
        margin: 0 0.25em;
        overflow: hidden;
        padding: 24px 60px 24px 16px;
        position: relative;
        text-decoration: none;
        line-height: 1;
        -webkit-box-shadow: inset 0px 0px 15px -2px rgba(0,162,255,1);
        -moz-box-shadow: inset 0px 0px 15px -2px rgba(0,162,255,1);
        box-shadow: inset 0px 0px 15px -2px rgba(0,162,255,1);
        background-color: #fff;
    }

        .btn .btn-content {
            font-size: 1em;
            line-height: 1.2;
            padding: 0 26px;
            position: relative;
            right: 0;
            transition: right 300ms ease;
            display: block;
            text-align: left;
            font-weight: bold;
        }

        .btn .icon {
            border-left: 1px solid #009cd0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 50%;
            transition: all 300ms ease;
            transform: translateY(-50%);
            width: 58px;
            height: 70%;
        }

            .btn .icon i {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

        .btn:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: #009cd0;
            opacity: 0;
            transition: opacity 300ms ease;
        }

        .btn:hover .btn-content {
            right: 100%;
        }

        .btn:hover .icon {
            border-left: 0;
            font-size: 1.8em;
            width: 100%;
        }

        .btn:hover:after {
            opacity: 0.2;
        }

        .btn.btn-alt-color {
            border-color: salmon;
            color: salmon;
        }

            .btn.btn-alt-color .icon {
                border-left-color: salmon;
            }

            .btn.btn-alt-color:after {
                background-color: salmon;
            }

    /* End of Reservation Buttons */

    /* Start of video and map css */

    .vidMapRadius {
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
        box-shadow: 0px 0px 15px -2px rgba(0,0,0,1);
    }

    /* End of video and map css */

    /* Start of audio play button */

    #play-pause-button {
        font-size: 15px;
        cursor: pointer;
        padding-left: 15px;
        text-decoration: none;
        color: white;
    }

    /* End of audio play button */

    /* Start of Gallery Toggle */

    .customSwitch {
        /*border: 0.1em solid rgba(0, 0, 0, 0.1);  */
        box-shadow: 0 0 0.3em black inset;
        padding: 0.5em;
        border-radius: 100em; /* huge radius to force pill shape */
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-around;
        align-items: center;
        position: relative;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
        background-color: rgba(0, 0, 0, 0.25);
        min-height: 1.1em;
        min-width: 3em;
    }

    .toggle {
        height: 2.1em;
        width: 2.1em;
        box-sizing: border-box;
        display: inline-block;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: 0;
        transition: all 0.3s;
        box-shadow: 0 0 5px #fffbb3;
        z-index: 1;
    }

    .toggleOn {
        left: calc(100% - 2.1em);
    }

    .switchLabel {
        cursor: pointer;
        user-select: none;
        color: white;
    }

    .onLabel {
        padding-right: 50%;
    }

    .offLabel {
        padding-left: 50%;
    }

    #viewer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }

    /* End of Gallery Toggle */

    /* Start of preloader animations and background */

    @import "compass/css3";

    /* Reveal, Entry screen testing

.preloader {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    opacity: 0.95;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.preloader__background {
    overflow: hidden;
    position: absolute; 
    background-color: #000;
    --background-color: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: slide 2.5s forwards;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes slide {
    0% {
        -webkit-transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(0, -100%);
    }
}

*/

    .img_preloader {
        position: fixed;
        overflow: hidden;
        z-index: 0;
        opacity: 0.95;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .img_preloader__background {
        overflow: hidden;
        position: absolute;
        background-color: #000;
        --background-color: #000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation: shimmy 1800ms ease-in-out .5s forwards;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }

    @keyframes shimmy {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: 0;
        }
    }

    /* End of preloader animations and background */
    /* Start of announcments Image */

    .media {
        float: left;
        position: relative;
        padding: 0.5em;
        margin: 0 0em 0em;
        page-break-inside: avoid;
        break-inside: avoid;
        -webkit-region-break-inside: avoid;
        transform: rotate(10deg);
    }

    .polaroid {
        border: 1px solid #ddd;
        background: #fff;
        padding: 8px 8px 8px 8px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }

        .polaroid img {
            float: left;
            page-break-inside: avoid;
            break-after: avoid-page;
            break-inside: avoid;
            object-fit: cover;
        }

    .media:after {
        content: "";
        display: block;
        clear: both;
    }

    .media .foot {
        display: block;
        width: auto;
        overflow: hidden;
        clear: both;
        text-align: center;
        font-family: "Special Elite", cursive;
    }

    /* End of announcments Image */


    